openapi: 3.0.1
info:
  contact:
    email: info@finverse.com
    name: Maintainers
  description: Documentation of the early finverse services
  license:
    name: unknown license
  termsOfService: https://example.com
  title: Finverse Public
  version: 0.0.1
servers:
- url: https://api.prod.finverse.net/
security:
- Oauth2:
  - test
tags:
- description: Publicly accessible endpoints
  name: public
- description: Customer endpoints
  name: customer
- description: Login identity endpoints
  name: login_identity
- description: Link endpoints
  name: link
- description: Payment endpoints
  name: payment
paths:
  /jwks:
    get:
      description: get jwks
      operationId: getCredSubmitJwks
      responses:
        "200":
          content: {}
          description: ok
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModel"
          description: Internal Server Error
      security: []
      tags:
      - public
  /auth/customer/token:
    post:
      description: generate an access_token
      operationId: generateCustomerAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRequest"
        description: token request
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security: []
      tags:
      - public
      x-codegen-request-body-name: tokenRequest
  /accounts/{accountId}:
    get:
      description: Get a specific account's information
      operationId: getAccount
      parameters:
      - description: The account id
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAccountResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - account
      tags:
      - login_identity
  /accounts:
    get:
      description: Get a list of accounts for a login identity
      operationId: listAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountsResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - account
      tags:
      - login_identity
  /card_details:
    get:
      description: Get a list of card details for a login identity
      operationId: listCardDetails
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCardsDetailsResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - card:get
      tags:
      - login_identity
  /account_numbers/{accountId}:
    get:
      description: Get the account number for a specific account
      operationId: getAccountNumber
      parameters:
      - description: The account id
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAccountNumberResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - account_number
      tags:
      - login_identity
  /balance_history/{accountId}:
    get:
      description: Get the balance history for a specific account
      operationId: getBalanceHistory
      parameters:
      - description: The account id
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: The source will determine what type of balance history will be
          returned
        in: query
        name: source
        schema:
          enum:
          - INSTITUTION
          - COMPUTED
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBalanceHistoryResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - balance_history
      tags:
      - login_identity
  /transactions/{accountId}:
    get:
      description: "Get a list of transactions for a particular account. The transactions\
        \ are returned in sorted order, with the most recent one appearing first."
      operationId: listTransactionsByAccountId
      parameters:
      - description: "The account id (ULID, example - 01EP4A1MZDHKETZFRPF0K62S6S)"
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: "default is 500, max is 1000"
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      - description: "when true, response will be enriched transactions; otherwise\
          \ it will be raw transactions"
        in: query
        name: enrichments
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTransactionsResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - transaction
      tags:
      - login_identity
  /transactions:
    get:
      description: "Get a list of transactions for a login identity. The transactions\
        \ are returned in sorted order, with the most recent one appearing first."
      operationId: listTransactionsByLoginIdentityId
      parameters:
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: "default is 500, max is 1000"
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      - description: "when true, response will be enriched transactions; otherwise\
          \ it will be raw transactions"
        in: query
        name: enrichments
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTransactionsResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - transaction
      tags:
      - login_identity
  /income:
    get:
      description: Get income figures for a login identity
      operationId: getIncomeEstimateByLoginIdentityId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IncomeResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - income:get
      tags:
      - login_identity
  /institutions/{institutionId}:
    get:
      description: Get a specific institution by institutionId
      operationId: getInstitution
      parameters:
      - description: The institution id
        in: path
        name: institutionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Institution"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - institution
      tags:
      - customer
  /institutions:
    get:
      description: Get a list of institutions
      operationId: listInstitutions
      parameters:
      - description: (Deprecated) The country the institution belongs to
        in: query
        name: country
        schema:
          type: string
      - description: The countries the institution belongs to
        explode: false
        in: query
        name: countries
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The products that this institution supports
        in: query
        name: products_supported
        schema:
          type: string
      - description: The type of institution
        in: query
        name: institution_type
        schema:
          enum:
          - BANK
          - WALLET
          - TEST
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInstitutionsResponse"
          description: Successful
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - institution
      tags:
      - customer
  /institutions/customer:
    get:
      description: Get a customer-specific list of institutions for Finverse Link
      operationId: getInstitutionsForCustomer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInstitutionsResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - institution:link
      tags:
      - customer
  /identity:
    get:
      description: "\\[BETA] Get a list of identity data for a given login identity"
      operationId: getIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIdentityResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - identity
      tags:
      - login_identity
  /payment_links:
    post:
      description: Create payment link
      operationId: CreatePaymentLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentLinkRequest"
        description: Parameters required to create a payment link
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentLinkResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentlink:create
      tags:
      - payment
      x-codegen-request-body-name: createPaymentLinkRequest
  /payment_links/{paymentLinkId}:
    get:
      description: Get payment link
      operationId: GetPaymentLink
      parameters:
      - description: The payment link id
        in: path
        name: paymentLinkId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentLinkResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentlink:get
      tags:
      - payment
  /payment_links/{paymentLinkId}/cancel:
    post:
      description: Cancel a payment link
      operationId: CancelPaymentLink
      parameters:
      - description: The payment link id
        in: path
        name: paymentLinkId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentLinkResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentlink:cancel
      tags:
      - payment
  /payment_links/kcp/payment:
    post:
      description: Complete a KCP payment
      operationId: completeKcpPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteKcpPaymentRequest"
        description: Parameters from the KCP SDK callback to complete the payment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteKcpPaymentResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - kcp:completePayment
      tags:
      - payment
      x-codegen-request-body-name: completeKcpPaymentRequest
  /link:
    post:
      description: Create a new link and submit credentials
      operationId: createLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiLinkRequest"
        description: Request body for creating a new link and submitting credentials
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLoginIdentityByIdResponse"
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModel"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModel"
          description: Internal Server Error
      security:
      - Oauth2:
        - linkApi:create
      tags:
      - link
      x-codegen-request-body-name: apiLinkRequest
  /link/token:
    post:
      description: generate a link token that can be used to create link
      operationId: generateLinkToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkTokenRequest"
        description: token request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkTokenResponse"
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - link:token
      tags:
      - link
      x-codegen-request-body-name: linkTokenRequest
  /link/relink/{loginIdentityId}:
    post:
      description: Create a new link using an existing LIID
      operationId: relinkV2
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiRelinkRequest"
        description: Request body for relinking and submitting credentials
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLoginIdentityByIdResponse"
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModel"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModel"
          description: Internal Server Error
      security:
      - Oauth2:
        - relinkApi:create
      tags:
      - link
      x-codegen-request-body-name: apiRelinkRequest
  /link/action/{loginIdentityId}:
    post:
      description: Post the user action value
      operationId: linkAction
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActionRequest"
        description: Request body for post link action
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLoginIdentityByIdResponse"
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModel"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModel"
          description: Internal Server Error
      security:
      - Oauth2:
        - linkApi:update
      tags:
      - link
      x-codegen-request-body-name: actionRequest
  /link/status/{loginIdentityId}:
    get:
      description: Check the status of a given loginIdentity
      operationId: linkStatus
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkStatusResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModel"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModel"
          description: Internal Server Error
      security:
      - Oauth2:
        - linkApi:read
      tags:
      - link
  /auth/token:
    post:
      description: Exchange authorization code for token
      operationId: token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/token_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessTokenResponse"
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:token
      tags:
      - link
  /auth/token/refresh:
    post:
      description: Refresh an access token
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
        description: The refresh token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessTokenResponse"
          description: "New refresh, access token"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:token
      tags:
      - customer
      x-codegen-request-body-name: refreshRequest
  /login_identity/{loginIdentityId}:
    get:
      description: Get a specific loginIdentity
      operationId: getLoginIdentityById
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLoginIdentityByIdResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:get
      tags:
      - login_identity
  /login_identity/{loginIdentityId}/history:
    get:
      description: Get a history of events for a specific loginIdentity
      operationId: getLoginIdentityHistory
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLoginIdentityHistoryResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:get
      tags:
      - login_identity
  /login_identity:
    delete:
      description: Delete a specific loginIdentity
      operationId: deleteLoginIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteLoginIdentityResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:delete
      tags:
      - login_identity
    get:
      description: Get a specific loginIdentity
      operationId: getLoginIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLoginIdentityByIdResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:self
      tags:
      - login_identity
  /login_identity/refresh:
    post:
      description: Create a refresh job for a login identity
      operationId: refreshLoginIdentity
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshLoginIdentityRequest"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResponse"
          description: Refresh queued
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Refresh error
        "401":
          content: {}
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:update
      tags:
      - login_identity
      x-codegen-request-body-name: refreshLoginIdentityReq
  /statements:
    get:
      description: Get list of available statements
      operationId: getStatements
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStatementsResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - statement:read
      tags:
      - login_identity
  /statements/{statementId}:
    get:
      description: Download statement
      operationId: getStatement
      parameters:
      - description: The statement id
        in: path
        name: statementId
        required: true
        schema:
          type: string
      - description: "when true, response will be http redirect; otherwise it will\
          \ be json response with the download link"
        in: query
        name: redirect
        schema:
          default: true
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStatementLinkResponse"
          description: Successful
        "307":
          content: {}
          description: Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - statement:read
      tags:
      - login_identity
  /composite_statement:
    get:
      description: Download composite statement
      operationId: getCompositeStatement
      parameters:
      - description: "when true, response will be http redirect; otherwise it will\
          \ be json response with the download link"
        in: query
        name: redirect
        schema:
          default: true
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompositeStatementLink"
          description: Successful
        "307":
          content: {}
          description: Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - composite_statement
      tags:
      - login_identity
  /payments/jwks:
    get:
      description: get payment jwks
      operationId: getPaymentsJwks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetJWKSResponse"
          description: Successful
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security: []
      tags:
      - public
  /payment_users/{paymentUserId}/payment_methods:
    get:
      description: List Payment Methods for a User
      operationId: listPaymentMethods
      parameters:
      - description: Payment User Id
        in: path
        name: paymentUserId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPaymentMethodsResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - payment_method:list
      tags:
      - payment
    post:
      description: Create a Payment Method for a user
      operationId: createPaymentMethod
      parameters:
      - description: Payment User ID
        in: path
        name: paymentUserId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentMethodRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentMethod:create
      tags:
      - payment
      x-codegen-request-body-name: createPaymentMethodRequest
  /mandates:
    get:
      description: List mandates
      operationId: listMandates
      parameters:
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_from
        schema:
          format: date
          type: string
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_to
        schema:
          format: date
          type: string
      - description: "The mandate statuses to filter for, comma separated"
        explode: false
        in: query
        name: statuses
        schema:
          items:
            enum:
            - AUTHORIZATION_REQUIRED
            - AUTHORIZING
            - PROCESSING
            - SUBMITTED
            - SUCCEEDED
            - FAILED
            - REVOKED
            - READY_TO_SUBMIT
            - CLOSED
            - CANCELLED
            type: string
          type: array
        style: form
      - description: The sender type of the mandate
        in: query
        name: sender_type
        schema:
          enum:
          - INDIVIDUAL
          - BUSINESS
          type: string
      - description: The user_id the mandate was setup for
        in: query
        name: user_id
        schema:
          type: string
      - description: The institution the mandate was executed against
        in: query
        name: institution_id
        schema:
          type: string
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: "default is 500, max is 1000"
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMandatesResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate:list
      tags:
      - payment
    post:
      description: CREATE Mandate
      operationId: createMandate
      parameters:
      - description: "A random key provided by the customer, per unique payment. The\
          \ purpose for the Idempotency key is to allow safe retrying without the\
          \ operation being performed multiple times."
        in: header
        name: Idempotency-Key
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMandateRequest"
        description: request body for creating mandate
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMandateResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate:create
      tags:
      - payment
      x-codegen-request-body-name: createMandateRequest
  /mandates/details:
    get:
      description: List mandates details
      operationId: listDetokenizedMandates
      parameters:
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_from
        schema:
          format: date
          type: string
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_to
        schema:
          format: date
          type: string
      - description: "The mandate statuses to filter for, comma separated"
        explode: false
        in: query
        name: statuses
        schema:
          items:
            enum:
            - AUTHORIZATION_REQUIRED
            - AUTHORIZING
            - PROCESSING
            - SUBMITTED
            - SUCCEEDED
            - FAILED
            - REVOKED
            - READY_TO_SUBMIT
            - CLOSED
            - CANCELLED
            type: string
          type: array
        style: form
      - description: The sender type of the mandate
        in: query
        name: sender_type
        schema:
          enum:
          - INDIVIDUAL
          - BUSINESS
          type: string
      - description: The user_id the mandate was setup for
        in: query
        name: user_id
        schema:
          type: string
      - description: The institution the mandate was executed against
        in: query
        name: institution_id
        schema:
          type: string
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: "default is 500, max is 1000"
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMandatesResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate:listSensitive
      tags:
      - payment
  /mandates/institution_selection:
    post:
      description: Update InstitutionID and SenderType for Mandate
      operationId: setMandateInstitution
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetMandateInstitutionRequest"
        description: request body for updating mandate institutionId and senderType
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetMandateInstitutionResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate_auth:update
      tags:
      - payment
      x-codegen-request-body-name: updateRequest
  /mandates/{mandateId}:
    get:
      description: Get Mandate details by mandate_id
      operationId: getMandate
      parameters:
      - description: mandate id
        in: path
        name: mandateId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMandateResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate:get
      tags:
      - payment
  /mandates/link:
    post:
      description: Get link to launch FV Link UI in mandate authorization mode
      operationId: getMandateAuthLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetMandateAuthLinkRequest"
        description: request body for mandate authorization link
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMandateAuthLinkResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate:create
      tags:
      - payment
      x-codegen-request-body-name: getMandateAuthLinkRequest
  /mandates/sender_account:
    post:
      description: Create mandate for an existing sender account
      operationId: createMandateForExistingSender
      parameters:
      - description: "A random key provided by the customer, per unique payment. The\
          \ purpose for the Idempotency key is to allow safe retrying without the\
          \ operation being performed multiple times."
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMandateWithSenderAccountRequest"
        description: request body for creating mandate
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMandateResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate:create
      tags:
      - payment
      x-codegen-request-body-name: createMandateRequest
  /payments:
    get:
      description: List Payments
      operationId: listPayments
      parameters:
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_from
        schema:
          format: date
          type: string
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_to
        schema:
          format: date
          type: string
      - description: "The payment statuses to filter for, comma separated"
        explode: false
        in: query
        name: statuses
        schema:
          items:
            enum:
            - AUTHORIZATION_REQUIRED
            - AUTHORIZING
            - PROCESSING
            - SUBMITTED
            - EXECUTED
            - FAILED
            - REVOKED
            - CANCELLED
            - CREATED
            type: string
          type: array
        style: form
      - description: The sender type of the mandate
        in: query
        name: sender_type
        schema:
          enum:
          - INDIVIDUAL
          - BUSINESS
          type: string
      - description: The user_id the mandate was setup for
        in: query
        name: user_id
        schema:
          type: string
      - description: The institution the mandate was executed against
        in: query
        name: institution_id
        schema:
          type: string
      - description: Deprecated - The type of payment
        in: query
        name: payment_type
        schema:
          enum:
          - MANDATE
          - SINGLE
          - CARD
          - MANUAL
          - WALLET
          type: string
      - explode: false
        in: query
        name: payment_types
        schema:
          items:
            enum:
            - MANDATE
            - SINGLE
            - CARD
            - MANUAL
            - WALLET
            type: string
          type: array
        style: form
      - description: The mandate the payment belongs to
        in: query
        name: mandate_id
        schema:
          type: string
      - description: Deprecated - The currency the payment is made in
        in: query
        name: currency
        schema:
          type: string
      - explode: false
        in: query
        name: currencies
        schema:
          items:
            type: string
          type: array
        style: form
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: "default is 500, max is 1000"
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPaymentsResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - payment:list
      tags:
      - payment
    post:
      description: Create new Payment
      operationId: createPayment
      parameters:
      - description: "A random key provided by the customer, per unique payment. The\
          \ purpose for the Idempotency key is to allow safe retrying without the\
          \ operation being performed multiple times."
        in: header
        name: Idempotency-Key
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
        description: request body for creating payment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - payment:create
      tags:
      - payment
      x-codegen-request-body-name: createPaymentRequest
  /payments/{paymentId}:
    get:
      description: Get Payment details by payment_id
      operationId: getPayment
      parameters:
      - description: payment id
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - payment:get
      tags:
      - payment
    post:
      description: Update payment
      operationId: updatePayment
      parameters:
      - description: payment id
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePaymentRequest"
        description: request body for updating payment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - payment:update
      tags:
      - payment
      x-codegen-request-body-name: updatePaymentRequest
  /mandates/auth:
    get:
      description: Get Mandate Authorization by mandate id
      operationId: getMandateAuth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMandateAuthResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate_auth:get
      tags:
      - payment
    post:
      description: Submit authorization checklist items
      operationId: submitAuthChecklist
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitAuthChecklistRequest"
        description: request body for submitting auth checklist
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitAuthChecklistResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate_auth:update
      tags:
      - payment
      x-codegen-request-body-name: submitAuthChecklistRequest
  /mandates/{mandateId}/authorize:
    post:
      description: Allows a customer to authorize a specific mandate
      operationId: authorizeMandate
      parameters:
      - description: The mandate_id that is being authorized
        in: path
        name: mandateId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthorizeMandateRequest"
        description: request body for authorizing a mandate
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMandateResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - mandates:authorize
      tags:
      - payment
      x-codegen-request-body-name: authorizeMandateRequest
  /testing/payments/{paymentId}/status:
    post:
      deprecated: true
      description: "[DEPRECATED] Update the status of a test manual payment"
      operationId: updateTestPaymentStatus
      parameters:
      - description: The test payment ID
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTestPaymentStatusRequest"
        description: Request body for updating the test manual payment status
        required: true
      responses:
        "200":
          content: {}
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - testPayment:update
      tags:
      - payment
      x-codegen-request-body-name: paymentStatus
  /payouts/{payoutId}:
    get:
      description: Get payout by payout_id
      operationId: getPayoutById
      parameters:
      - description: payout id
        in: path
        name: payoutId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutSnapshotResponse"
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - payout:get
      tags:
      - payment
  /payouts:
    get:
      description: List payouts
      operationId: listPayouts
      parameters:
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_from
        schema:
          format: date
          type: string
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_to
        schema:
          format: date
          type: string
      - description: "The payout statuses to filter for, comma separated"
        explode: false
        in: query
        name: statuses
        schema:
          items:
            enum:
            - EXECUTED
            - CREATED
            - PROCESSING
            - PROCESSING_FUNDS
            - CANCELLED
            - FAILED
            - FUNDED
            - SUBMITTED
            type: string
          type: array
        style: form
      - explode: false
        in: query
        name: currencies
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: false
        in: query
        name: payout_types
        schema:
          items:
            enum:
            - MANUAL
            - SCHEDULED
            - SETTLEMENT
            - ON_DEMAND
            type: string
          type: array
        style: form
      - in: query
        name: mandate_id
        schema:
          type: string
      - in: query
        name: sender_account_id
        schema:
          type: string
      - in: query
        name: recipient_account_id
        schema:
          type: string
      - in: query
        name: recipient_user_id
        schema:
          type: string
      - in: query
        name: recipient_external_user_id
        schema:
          type: string
      - description: Default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: "default is 500, max is 1000"
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPayoutsResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
      security:
      - Oauth2:
        - payout:list
      tags:
      - payment
    post:
      description: Create a payout
      operationId: createPayout
      parameters:
      - description: "A random key provided by the customer, per unique payout. The\
          \ purpose for the Idempotency key is to allow safe retrying without the\
          \ operation being performed multiple times."
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePayoutRequest"
        description: Request body containing information to create a payout
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutSnapshotResponse"
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Bad Request
      security:
      - Oauth2:
        - payout:create
      tags:
      - payment
      x-codegen-request-body-name: createPayoutRequest
  /payouts/{payoutId}/confirm:
    post:
      description: "Confirm a payout that was created with confirm = false, submitting\
        \ it for processing"
      operationId: confirmPayout
      parameters:
      - description: payout id
        in: path
        name: payoutId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutSnapshotResponse"
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
      security:
      - Oauth2:
        - payout:confirm
      tags:
      - payment
  /payouts/{payoutId}/cancel:
    post:
      description: Cancel Payout by payout_id
      operationId: cancelPayout
      parameters:
      - description: payout id
        in: path
        name: payoutId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutSnapshotResponse"
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
      security:
      - Oauth2:
        - payout:cancel
      tags:
      - payment
  /payment_users/{paymentUserId}/payment_accounts:
    get:
      description: Get payment account by user id
      operationId: listPaymentAccounts
      parameters:
      - description: The payment user id
        in: path
        name: paymentUserId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPaymentAccountsResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - payment_account:get
      tags:
      - payment
  /payment_accounts:
    get:
      description: Get payment account for customer app
      operationId: listPaymentAccountsWithEnrichedData
      parameters:
      - description: The account_type to filter for
        in: query
        name: account_type
        schema:
          enum:
          - EXTERNAL_ACCOUNT
          - SETTLEMENT_ACCOUNT
          type: string
      - description: The currencies to filter for
        explode: false
        in: query
        name: currencies
        schema:
          items:
            type: string
          type: array
        style: form
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: "default is 500, max is 1000"
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPaymentAccountsWithEnrichedDataResponse"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentAccount:list
      tags:
      - payment
    post:
      description: create payment account
      operationId: createPaymentAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentAccountRequest"
        description: request body for creating payment account
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAccountDetails"
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - payment_account:create
      tags:
      - payment
      x-codegen-request-body-name: createPaymentAccountRequest
  /payment_accounts/{paymentAccountId}:
    delete:
      description: delete payment account
      operationId: deletePaymentAccount
      parameters:
      - description: The payment account id
        in: path
        name: paymentAccountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - payment_account:delete
      tags:
      - payment
  /payment_users:
    post:
      description: Create a payment user
      operationId: createPaymentUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentUserRequest"
        description: request body for creating payment user
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentUser"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - payment_user:create
      tags:
      - payment
      x-codegen-request-body-name: createPaymentUserRequest
  /payment_users/{paymentUserId}:
    get:
      description: Get a payment user
      operationId: getPaymentUser
      parameters:
      - in: path
        name: paymentUserId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentUser"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - payment_user:get
      tags:
      - payment
    post:
      description: Update a payment user
      operationId: updatePaymentUser
      parameters:
      - in: path
        name: paymentUserId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePaymentUserRequest"
        description: request body for updating payment user
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentUser"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentUser:update
      tags:
      - payment
      x-codegen-request-body-name: updatePaymentUserRequest
  /payment_methods/{paymentMethodId}:
    get:
      description: Get a payment method
      operationId: getPaymentMethod
      parameters:
      - in: path
        name: paymentMethodId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentMethod:get
      tags:
      - payment
  /payment_methods/{paymentMethodId}/cancel:
    post:
      description: Cancel a payment method
      operationId: cancelPaymentMethod
      parameters:
      - description: The payment method id
        in: path
        name: paymentMethodId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Bad Request
      security:
      - Oauth2:
        - paymentMethod:cancel
      tags:
      - payment
  /ledger/statement:
    get:
      description: Download the balance statement for the ledger (CSV)
      operationId: downloadBalanceStatement
      parameters:
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_from
        schema:
          format: date
          type: string
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_to
        schema:
          format: date
          type: string
      - description: The currencies to filter for
        explode: false
        in: query
        name: currencies
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadBalanceStatementResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Bad Request
      security:
      - Oauth2:
        - ledger:statement
      tags:
      - payment
  /disputes:
    get:
      description: List Disputes
      operationId: listDisputes
      parameters:
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_from
        schema:
          format: date
          type: string
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_to
        schema:
          format: date
          type: string
      - description: "The dispute statuses to filter for, comma separated"
        explode: false
        in: query
        name: statuses
        schema:
          items:
            enum:
            - UNKNOWN
            - UNDEFENDED
            - ACTION_REQUIRED
            - PROCESSING
            - ACCEPTED
            - LOST
            - WON
            type: string
          type: array
        style: form
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: "default is 500, max is 1000"
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDisputesResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Internal Server Error
      security:
      - Oauth2:
        - dispute:list
      tags:
      - payment
  /bills/{billId}:
    get:
      description: Get a bill by ID
      operationId: getBill
      parameters:
      - in: path
        name: billId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBillResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
      security:
      - Oauth2:
        - bill:get
      tags:
      - payment
  /bills:
    get:
      description: List bills
      operationId: listBills
      parameters:
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_from
        schema:
          format: date
          type: string
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_to
        schema:
          format: date
          type: string
      - description: "Bill statuses to filter for, comma separated"
        explode: false
        in: query
        name: statuses
        schema:
          items:
            enum:
            - UNKNOWN
            - UNPAID
            - PAID
            - CANCELLED
            - FAILED
            type: string
          type: array
        style: form
      - in: query
        name: user_id
        schema:
          type: string
      - in: query
        name: external_user_id
        schema:
          type: string
      - explode: false
        in: query
        name: currencies
        schema:
          items:
            type: string
          type: array
        style: form
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: "default is 500, max is 1000"
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBillsResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Invalid Request
      security:
      - Oauth2:
        - bill:list
      tags:
      - payment
  /payment_link/fvlink/adyen/payment_methods:
    get:
      description: Get available Adyen payment methods for Advanced card setup (proxy
        to Adyen /paymentMethods)
      operationId: getAdyenCardSetupPaymentMethods
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdyenCardSetupPaymentMethodsResponse"
          description: Adyen /paymentMethods response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Bad Request
      security:
      - Oauth2:
        - adyenCheckout:bootstrap
      tags:
      - payment
  /payment_link/fvlink/adyen/payments:
    post:
      description: Submit Adyen card setup payment (proxy to Adyen /payments with
        Drop-in state.data from onSubmit)
      operationId: submitAdyenCardSetupPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdyenCardSetupPaymentRequest"
        description: Full Drop-in state.data from onSubmit
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdyenCardSetupPaymentResponse"
          description: Adyen /payments response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Bad Request
      security:
      - Oauth2:
        - adyenCheckout:submit
      tags:
      - payment
      x-codegen-request-body-name: submitAdyenCardSetupPaymentRequest
  /payment_link/fvlink/adyen/payments/details:
    post:
      description: Submit Adyen card setup payment details (proxy to Adyen /payments/details
        with Drop-in state.data from onAdditionalDetails)
      operationId: submitAdyenCardSetupPaymentDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdyenCardSetupPaymentRequest"
        description: Full Drop-in state.data from onAdditionalDetails (includes details
          + paymentData)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdyenCardSetupPaymentResponse"
          description: Adyen /payments/details response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrBodyModelV2"
          description: Bad Request
      security:
      - Oauth2:
        - adyenCheckout:submit
      tags:
      - payment
      x-codegen-request-body-name: submitAdyenCardSetupPaymentDetailsRequest
components:
  schemas:
    FvDecimal:
      type: number
      x-go-type:
        type: FvDecimal
        import:
          package: gitlab.com/finverse/gitops/applications/common-go/amount
        embedded: true
    MandateStatus:
      description: Mandate status
      enum:
      - AUTHORIZATION_REQUIRED
      - AUTHORIZING
      - PROCESSING
      - SUBMITTED
      - SUCCEEDED
      - FAILED
      - REVOKED
      - READY_TO_SUBMIT
      - CLOSED
      - CANCELLED
      type: string
    CardStatus:
      description: Card status
      enum:
      - UNKNOWN
      - CREATED
      - SUCCEEDED
      - CANCELLED
      - FAILED
      type: string
    PaymentStatus:
      description: Payment status
      enum:
      - AUTHORIZATION_REQUIRED
      - AUTHORIZING
      - PROCESSING
      - SUBMITTED
      - EXECUTED
      - FAILED
      - REVOKED
      - CANCELLED
      - CREATED
      type: string
    PaymentType:
      description: Indicates whether this is a mandate-based payment or one-off direct
        payment to an account
      enum:
      - MANDATE
      - SINGLE
      - CARD
      - MANUAL
      - WALLET
      type: string
    PaymentSubtype:
      description: "The payment subtype, derived from the payment's rail. Absent if\
        \ the payment rail is unknown."
      enum:
      - FPS_HK
      - PAYNOW_SG
      - EGIRO_SG
      - EDDA_HK
      - CARD_KR
      - CARD_GENERIC
      - WALLET_GENERIC
      - GOCARDLESS_GENERIC
      - MANUAL_GENERIC
      - MANUAL_KR
      - BANKPAY_KR
      type: string
    PaymentMethodType:
      description: The payment method type
      enum:
      - CARD
      - MANDATE
      type: string
    PaymentLinkStatus:
      description: The status of payment link
      enum:
      - CREATED
      - PAID
      - EXPIRED
      type: string
    PaymentLinkSessionStatus:
      description: The session status of payment link
      enum:
      - OPEN
      - PROCESSING
      - COMPLETE
      - FAILED
      type: string
    PaymentLinkMode:
      description: The payment link mode
      enum:
      - PAYMENT
      - SETUP
      type: string
    BillStatus:
      description: Bill status
      enum:
      - UNKNOWN
      - UNPAID
      - PAID
      - CANCELLED
      - FAILED
      type: string
    DisputeStatus:
      description: The status of the dispute
      enum:
      - UNKNOWN
      - UNDEFENDED
      - ACTION_REQUIRED
      - PROCESSING
      - ACCEPTED
      - LOST
      - WON
      type: string
    PayoutStatus:
      description: Payout status
      enum:
      - EXECUTED
      - CREATED
      - PROCESSING
      - PROCESSING_FUNDS
      - CANCELLED
      - FAILED
      - FUNDED
      - SUBMITTED
      type: string
    PayoutType:
      description: Payout type
      enum:
      - MANUAL
      - SCHEDULED
      - SETTLEMENT
      - ON_DEMAND
      type: string
    CardFundingType:
      description: The funding source of the card
      enum:
      - UNKNOWN
      - CREDIT
      - DEBIT
      - PREPAID
      type: string
    FuturePaymentsMode:
      description: "The type of future_payments that customer want to use. Possible\
        \ values: AUTOPAY or CLICK_TO_PAY"
      enum:
      - AUTOPAY
      - CLICK_TO_PAY
      type: string
    PaymentUserType:
      description: "Type of account held by the Sender at the Institution. Possible\
        \ values are INDIVIDUAL, BUSINESS"
      enum:
      - INDIVIDUAL
      - BUSINESS
      type: string
    FeePaidBy:
      description: Who pays the fee
      enum:
      - RECIPIENT
      - SENDER
      type: string
    PaymentAccountType:
      description: Type of payment account
      enum:
      - EXTERNAL_ACCOUNT
      - SETTLEMENT_ACCOUNT
      type: string
    AccountNumberType:
      description: "Type of account number. Possible values: LOCAL, IBAN"
      enum:
      - LOCAL
      - IBAN
      type: string
    FinverseErrorCategory:
      description: The error type
      enum:
      - LINK_ERROR
      - API_ERROR
      type: string
    LoginIdentityStatus:
      description: Login identity status
      enum:
      - UNKNOWN
      - ERROR
      - LINKING
      - AUTHENTICATING
      - CONNECTION_COMPLETE
      - CONNECTION_IN_PROGRESS
      - DATA_RETRIEVAL_IN_PROGRESS
      - DATA_AVAILABLE
      - DATA_RETRIEVAL_PARTIALLY_SUCCESSFUL
      - DATA_RETRIEVAL_COMPLETE
      - REFRESHING
      - UNLINKED
      - UNLINK_SUCCEEDED
      - UNLINK_FAILED
      type: string
    LoginIdentitySessionStatus:
      description: Login identity session status
      enum:
      - UNKNOWN
      - IN_PROGRESS
      - COMPLETED
      - UNLINKED
      type: string
    ProductHealthStatus:
      description: Health status of a login identity product
      enum:
      - UNKNOWN
      - IN_PROGRESS
      - SUCCESS
      - WARNING
      - ERROR
      - NOT_SUPPORTED
      - NOT_AVAILABLE
      - TEMPORARILY_UNAVAILABLE_FOR_INSTITUTION
      type: string
    LoginIdentityAuthStatus:
      description: Login identity authentication status
      enum:
      - UNKNOWN
      - LINKING
      - AUTHENTICATING
      - AUTHENTICATED
      - AUTHENTICATE_FAILED
      - AUTHENTICATION_TEMPORARILY_UNAVAILABLE_FOR_INSTITUTION
      - AUTHENTICATION_TOO_MANY_ATTEMPTS
      type: string
    AccountCategory:
      description: Account category
      enum:
      - UNKNOWN
      - DEPOSIT
      - CARD
      - INVESTMENT
      - LOAN
      - OTHER
      type: string
    Principal:
      properties:
        subject:
          example: "could be clientId/customerAppId/loginIdentityId depends on the\
            \ type of token, see also the explict claims for each of these ids"
          type: string
        token:
          example: algorithm.claims.hmac
          type: string
        client_id:
          example: someClientId
          type: string
        customer_app_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        login_identity_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        customization_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        mandate_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        expires_in:
          example: 3600
          type: integer
        payment_attempt_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        payment_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        payment_account_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        product_flow:
          example: PAYMENT_LINK
          type: string
        scopes:
          example:
          - link
          - transaction
          items:
            type: string
          type: array
        link_token_request:
          $ref: "#/components/schemas/LinkTokenRequest"
        get_mandate_auth_link_request:
          $ref: "#/components/schemas/GetMandateAuthLinkRequest"
        currency:
          type: string
        history_date_limit:
          description: Limit historical data retrieval to this date (YYYY-MM-DD)
          example: 2024-01-31
          type: string
        redirect_uri:
          type: string
        payment_link_id:
          type: string
        unique_reference_id:
          type: string
        payment_method_id:
          type: string
        tpp_name:
          type: string
        retry_url:
          type: string
        onboarding_flow:
          type: string
        qr_code_text:
          description: The qrCode text to be used to generate the image
          type: string
        manual_payment_provider:
          example: ""
          type: string
      required:
      - client_id
      - customer_app_id
      - login_identity_id
      - subject
      type: object
    GetAccountResponse:
      example:
        account:
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          account_holder_name: John Doe
          account_name: HKD Savings
          account_nickname: Emergency Fund
          account_sub_type: TIME_DEPOSIT
          account_number_masked: 123XXXXXX89
          country: HKG
          created_at: 2000-01-23T04:56:07.000+00:00
          updated_at: 2000-01-23T04:56:07.000+00:00
          account_currency: HKD
          balance:
            currency: HKD
            value: 0.8008281904610115
            raw: "69.00"
          statement_balance:
            currency: HKD
            value: 0.8008281904610115
            raw: "69.00"
          ledger_balance:
            currency: HKD
            value: 0.8008281904610115
            raw: "69.00"
          is_parent: false
          is_closed: false
          is_excluded: false
          account_type:
            type: UNKNOWN
            subtype: SAVINGS
          metadata:
            key: metadata
        login_identity:
          login_identity_id: login_identity_id
          status: UNKNOWN
          last_session_id: last_session_id
        institution:
          institution_id: "123"
          countries:
          - HKG
          institution_name: Mock Bank
          portal_name: Personal Internet Banking
      properties:
        account:
          $ref: "#/components/schemas/Account"
        login_identity:
          $ref: "#/components/schemas/LoginIdentityShort"
        institution:
          $ref: "#/components/schemas/InstitutionShort"
      type: object
    ListCardsDetailsResponse:
      example:
        login_identity:
          login_identity_id: login_identity_id
          status: UNKNOWN
          last_session_id: last_session_id
        institution:
          institution_id: "123"
          countries:
          - HKG
          institution_name: Mock Bank
          portal_name: Personal Internet Banking
        card_details:
          card_accounts:
          - account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
            account_name: HKD Visa
            account_number_masked: account_number_masked
            account_type:
              type: UNKNOWN
              subtype: SAVINGS
            statement_payment_due_date: 2021-02-01
            next_payment_due_date: 2021-02-01
            statement_date: 2021-10-27
            last_payment_date: 2021-10-27
            last_payment_amount:
              currency: HKD
              value: 0.8008281904610115
              raw: "69.00"
            current_balance:
              currency: HKD
              value: 0.8008281904610115
              raw: "69.00"
            payment_due_amount:
              currency: HKD
              value: 0.8008281904610115
              raw: "69.00"
            statement_due_amount:
              currency: HKD
              value: 0.8008281904610115
              raw: "69.00"
            total_credit_limit:
              currency: HKD
              value: 0.8008281904610115
              raw: "69.00"
            available_credit_limit:
              currency: HKD
              value: 0.8008281904610115
              raw: "69.00"
            minimum_payment_due:
              currency: HKD
              value: 0.8008281904610115
              raw: "69.00"
            rewards_balances:
            - unit: UNI$
              value: 0.8008281904610115
              raw: "69.00"
            - unit: UNI$
              value: 0.8008281904610115
              raw: "69.00"
            updated_at: 2021-02-01T10:01:02.333Z
          - account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
            account_name: HKD Visa
            account_number_masked: account_number_masked
            account_type:
              type: UNKNOWN
              subtype: SAVINGS
            statement_payment_due_date: 2021-02-01
            next_payment_due_date: 2021-02-01
            statement_date: 2021-10-27
            last_payment_date: 2021-10-27
            last_payment_amount:
              currency: HKD
              value: 0.8008281904610115
              raw: "69.00"
[...]
