openapi: 3.0.1
info:
  contact:
    email: info@finverse.com
    name: Maintainers
  description: Documentation of the early finverse services
  license:
    name: unknown license
  termsOfService: https://example.com
  title: Finverse Public
  version: 0.0.1
servers:
- url: https://api.sandbox.finverse.net/
security:
- Oauth2:
  - test
tags:
- description: Operations does not required an access token
  name: public
- description: Operations required a customer access token
  name: customer
- description: Operations required a login identity access token
  name: login_identity
- description: Operations required a link token
  name: link
paths:
  /auth/customer/token:
    post:
      description: generate an access_token
      operationId: generateCustomerAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
        description: token request
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      tags:
      - public
      x-codegen-request-body-name: tokenRequest
  /accounts/{accountId}:
    get:
      description: Get a specific account's information
      operationId: getAccount
      parameters:
      - description: The account id
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - account
      tags:
      - login_identity
  /accounts:
    get:
      description: Get a list of accounts for a login identity
      operationId: listAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - account
      tags:
      - login_identity
  /account_numbers/{accountId}:
    get:
      description: Get the account number for a specific account
      operationId: getAccountNumber
      parameters:
      - description: The account id
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountNumberResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - account_number
      tags:
      - login_identity
  /balance_history/{accountId}:
    get:
      description: Get the balance history for a specific account
      operationId: getBalanceHistory
      parameters:
      - description: The account id
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: The source will determine what type of balance history will be
          returned
        in: query
        name: source
        schema:
          enum:
          - INSTITUTION
          - COMPUTED
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBalanceHistoryResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - balance_history
      tags:
      - login_identity
  /transactions/{accountId}:
    get:
      description: Get a list of transactions for a particular account. The transactions
        are returned in sorted order, with the most recent one appearing first.
      operationId: listTransactionsByAccountId
      parameters:
      - description: The account id (ULID, example - 01EP4A1MZDHKETZFRPF0K62S6S)
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: default is 500, max is 1000
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - transaction
      tags:
      - login_identity
  /transactions:
    get:
      description: Get a list of transactions for a login identity. The transactions
        are returned in sorted order, with the most recent one appearing first.
      operationId: listTransactionsByLoginIdentityId
      parameters:
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: default is 500, max is 1000
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - transaction
      tags:
      - login_identity
  /income:
    get:
      description: Get income figures for a login identity
      operationId: getIncomeEstimateByLoginIdentityId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - income:get
      tags:
      - login_identity
  /institutions/{institutionId}:
    get:
      description: Get a specific institution by institutionId
      operationId: getInstitution
      parameters:
      - description: The institution id
        in: path
        name: institutionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - institution
      tags:
      - customer
  /institutions:
    get:
      description: Get a list of institutions
      operationId: listInstitutions
      parameters:
      - description: The country the institution belongs to
        in: query
        name: country
        schema:
          type: string
      - description: The countries the institution belongs to
        explode: false
        in: query
        name: countries
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The products that this institution supports
        in: query
        name: products_supported
        schema:
          type: string
      - description: The type of institution
        in: query
        name: institution_type
        schema:
          enum:
          - BANK
          - WALLET
          - TEST
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInstitutionsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - institution
      tags:
      - customer
      - link
  /identity:
    get:
      description: \[BETA] Get a list of identity data for a given login identity
      operationId: getIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIdentityResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - identity
      tags:
      - login_identity
  /link:
    post:
      description: Create a new link and submit credentials
      operationId: createLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiLinkRequest'
        description: Request body for creating a new link and submitting credentials
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityByIdResponse'
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Internal Server Error
      security:
      - Oauth2:
        - linkApi:create
      tags:
      - link
      x-codegen-request-body-name: apiLinkRequest
  /link/woauth:
    post:
      description: Creates a new link
      operationId: createLinkWoauth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkRequest'
        description: Request body for starting a new Link
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkResponse'
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - link
      tags:
      - link
      x-codegen-request-body-name: linkRequest
  /link/token:
    post:
      description: generate a link token that can be used to create link
      operationId: generateLinkToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkTokenRequest'
        description: token request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkTokenResponse'
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - link:token
      tags:
      - customer
      - login_identity
      x-codegen-request-body-name: linkTokenRequest
  /link/relink:
    post:
      description: Update an existing link
      operationId: relink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelinkRequest'
        description: Request body for updating Link
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkResponse'
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:update
      tags:
      - link
      x-codegen-request-body-name: relinkRequest
  /link/relink/{loginIdentityId}:
    post:
      description: Create a new link using an existing LIID
      operationId: relinkV2
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRelinkRequest'
        description: Request body for relinking and submitting credentials
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityByIdResponse'
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Internal Server Error
      security:
      - Oauth2:
        - relinkApi:create
      tags:
      - link
      x-codegen-request-body-name: apiRelinkRequest
  /link/action/{loginIdentityId}:
    post:
      description: Post the user action value
      operationId: linkAction
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionRequest'
        description: Request body for post link action
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityByIdResponse'
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Internal Server Error
      security:
      - Oauth2:
        - linkApi:update
      tags:
      - link
      x-codegen-request-body-name: actionRequest
  /link/status/{loginIdentityId}:
    get:
      description: Check the status of a given loginIdentity
      operationId: linkStatus
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkStatusResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Internal Server Error
      security:
      - Oauth2:
        - linkApi:read
      tags:
      - link
  /auth/callback:
    get:
      description: Callback url to get the oauth authorization token
      operationId: authCallback
      parameters:
      - description: The state of the client when oauth was initialized
        in: query
        name: state
        required: true
        schema:
          type: string
      - description: The authorization code generated by the Oauth provider
        in: query
        name: code
        schema:
          type: string
      - description: error
        in: query
        name: error
        schema:
          type: string
      - description: error description
        in: query
        name: error_description
        schema:
          type: string
      - description: error details
        in: query
        name: error_details
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectUriResponse'
          description: Returns the redirect uri with either sucess or error
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid Request
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      tags:
      - public
  /auth/token:
    post:
      description: Exchange authorization code for token
      operationId: token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                grant_type:
                  enum:
                  - authorization_code
                  type: string
                code:
                  type: string
                client_id:
                  type: string
                redirect_uri:
                  type: string
              required:
              - client_id
              - code
              - grant_type
              - redirect_uri
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:token
      tags:
      - link
  /auth/token/refresh:
    post:
      description: Refresh an access token
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
        description: The refresh token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
          description: New refresh, access token
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:token
      tags:
      - customer
      x-codegen-request-body-name: refreshRequest
  /login_identity/{loginIdentityId}:
    get:
      description: Get a specific loginIdentity
      operationId: getLoginIdentityById
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityByIdResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:get
      tags:
      - customer
  /login_identity/{loginIdentityId}/history:
    get:
      description: Get a history of events for a specific loginIdentity
      operationId: getLoginIdentityHistory
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityHistoryResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:get
      tags:
      - customer
  /login_identity:
    delete:
      description: Delete a specific loginIdentity
      operationId: deleteLoginIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteLoginIdentityResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:delete
      tags:
      - login_identity
    get:
      description: Get a specific loginIdentity
      operationId: getLoginIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityByIdResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:self
      tags:
      - login_identity
  /login_identity/refresh:
    post:
      description: Create a refresh job for a login identity
      operationId: refreshLoginIdentity
      responses:
        "200":
          content: {}
          description: Refresh queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Refresh error
        "401":
          content: {}
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:update
      tags:
      - login_identity
  /statements:
    get:
      description: Get list of available statements
      operationId: getStatements
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatementsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - statement:read
      tags:
      - login_identity
  /statements/{statementId}:
    get:
      description: Download statement
      operationId: getStatement
      parameters:
      - description: The statement id
        in: path
        name: statementId
        required: true
        schema:
          type: string
      - description: when true, response will be http redirect; otherwise it will
          be json response with the download link
        in: query
        name: redirect
        schema:
          default: true
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatementLinkResponse'
          description: Successful
        "307":
          content: {}
          description: Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - statement:read
      tags:
      - login_identity
  /composite_statement:
    get:
      description: Download composite statement
      operationId: getCompositeStatement
      parameters:
      - description: when true, response will be http redirect; otherwise it will
          be json response with the download link
        in: query
        name: redirect
        schema:
          default: true
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompositeStatementLink'
          description: Successful
        "307":
          content: {}
          description: Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - composite_statement
      tags:
      - login_identity
components:
  schemas:
    ErrorResponse:
      properties:
        err:
          type: string
        http_status_code:
          format: int
          type: number
        status_text:
          type: string
        app_code:
          format: int64
          type: number
        error_category:
          type: string
        error_text:
          type: string
        request_id:
          type: string
      type: object
    Principal:
      properties:
        subject:
          example: could be clientId/customerAppId/loginIdentityId depends on the
            type of token, see also the explict claims for each of these ids
          type: string
        token:
          example: algorithm.claims.hmac
          type: string
        client_id:
          example: someClientId
          type: string
        customer_app_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        login_identity_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        customization_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        mandate_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        expires_in:
          example: 3600.0
          type: number
        scopes:
          example:
          - link
          - transaction
          items:
            type: string
          type: array
        link_token_request:
          $ref: '#/components/schemas/LinkTokenRequest'
      required:
      - client_id
      - customer_app_id
      - login_identity_id
      - subject
      type: object
    GetAccountResponse:
      example:
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
        account:
          country: HKG
          account_type: SAVINGS
          account_currency: HKD
          account_holder_name: John Doe
          account_sub_type: TIME_DEPOSIT
          created_at: 2000-01-23T04:56:07.000+00:00
          account_nickname: Emergency Fund
          is_parent: false
          statement_balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          updated_at: 2000-01-23T04:56:07.000+00:00
          balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          is_excluded: false
          group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          account_name: HKD Savings
          account_number_masked: 123XXXXXX89
          is_closed: false
      properties:
        account:
          $ref: '#/components/schemas/Account'
        login_identity:
          $ref: '#/components/schemas/LoginIdentityShort'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
      type: object
    GetAccountNumberResponse:
      example:
        account_number:
          number: "1234567890123"
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          raw: 123-4567890-123
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        payment_details:
        - other_info:
            bank_code: bank_code
          bank_shortname: testbank
          format: SWIFT
          bank_address: 99 Stree, Building, City
          bank_country: Country
          bank_fullname: Finverse test bank
          bic: BKCHHKHHXXX
        - other_info:
            bank_code: bank_code
          bank_shortname: testbank
          format: SWIFT
          bank_address: 99 Stree, Building, City
          bank_country: Country
          bank_fullname: Finverse test bank
          bic: BKCHHKHHXXX
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
        account:
          country: HKG
          account_type: SAVINGS
          account_currency: HKD
          account_holder_name: John Doe
          account_sub_type: TIME_DEPOSIT
          created_at: 2000-01-23T04:56:07.000+00:00
          account_nickname: Emergency Fund
          is_parent: false
          statement_balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          updated_at: 2000-01-23T04:56:07.000+00:00
          balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          is_excluded: false
          group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          account_name: HKD Savings
          account_number_masked: 123XXXXXX89
          is_closed: false
      properties:
        account_number:
          $ref: '#/components/schemas/AccountNumber'
        account:
          $ref: '#/components/schemas/Account'
        login_identity:
          $ref: '#/components/schemas/LoginIdentityShort'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
        payment_details:
          items:
            $ref: '#/components/schemas/PaymentDetails'
          type: array
      type: object
    GetBalanceHistoryResponse:
      example:
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
        balance_history:
        - date: 2021-10-27
          amount: 69.0
          currency: HKD
        - date: 2021-10-27
          amount: 69.0
          currency: HKD
        source: INSTITUTION
        account:
          country: HKG
          account_type: SAVINGS
          account_currency: HKD
          account_holder_name: John Doe
          account_sub_type: TIME_DEPOSIT
          created_at: 2000-01-23T04:56:07.000+00:00
          account_nickname: Emergency Fund
          is_parent: false
          statement_balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          updated_at: 2000-01-23T04:56:07.000+00:00
          balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          is_excluded: false
          group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          account_name: HKD Savings
          account_number_masked: 123XXXXXX89
          is_closed: false
      properties:
        account:
          $ref: '#/components/schemas/Account'
        login_identity:
          $ref: '#/components/schemas/LoginIdentityShort'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
        balance_history:
          items:
            $ref: '#/components/schemas/BalanceHistory'
          type: array
        source:
          enum:
          - INSTITUTION
          - COMPUTED
          type: string
      type: object
    GetIdentityResponse:
      example:
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        identity:
          emails:
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            raw: example123@example.com
            source: INTERNET_BANKING
            email: example123@example.com
            masked_email: exam******@example.com
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            raw: example123@example.com
            source: INTERNET_BANKING
            email: example123@example.com
            masked_email: exam******@example.com
          phone_numbers:
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            mobile_phone: +12345678901
            raw: +123 4567 8901
            masked_phone: +12345****01
            source: INTERNET_BANKING
            other_phone: +12345678901
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            mobile_phone: +12345678901
            raw: +123 4567 8901
            masked_phone: +12345****01
            source: INTERNET_BANKING
            other_phone: +12345678901
          addresses:
          - building_name: Building A
            street_address: 221B Baker Street
            country: United Kingdom
            account_ids:
            - account_ids
            - account_ids
            city: London
            raw: 221B Baker Street, Westminster, London
            floor_number: "2"
            full_address: 221B Baker Street, Westminster, London
            ward: Sheung Wan
            source: INTERNET_BANKING
            street_name: Baker Street
            source_ids:
            - source_ids
            - source_ids
            unit_number: 221B
            province: Westminster
            district: Marleybone
            street_number: 221B
            postal_code: NW1 6XE
          - building_name: Building A
            street_address: 221B Baker Street
            country: United Kingdom
            account_ids:
            - account_ids
            - account_ids
            city: London
            raw: 221B Baker Street, Westminster, London
            floor_number: "2"
            full_address: 221B Baker Street, Westminster, London
            ward: Sheung Wan
            source: INTERNET_BANKING
            street_name: Baker Street
            source_ids:
            - source_ids
            - source_ids
            unit_number: 221B
            province: Westminster
            district: Marleybone
            street_number: 221B
            postal_code: NW1 6XE
          names:
          - source_ids:
            - source_ids
            - source_ids
            full_name: John Maximus Doe
            account_ids:
            - account_ids
            - account_ids
            raw: John Maximus Doe
            last_name: Doe
            other_name: Maximus
            source: INTERNET_BANKING
            first_name: John
          - source_ids:
            - source_ids
            - source_ids
            full_name: John Maximus Doe
            account_ids:
            - account_ids
            - account_ids
            raw: John Maximus Doe
            last_name: Doe
            other_name: Maximus
            source: INTERNET_BANKING
            first_name: John
          date_of_births:
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            date_of_birth: 1999-01-22
            raw: 1999-01-22
            masked_date_of_birth: XXXX-01-22
            source: INTERNET_BANKING
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            date_of_birth: 1999-01-22
            raw: 1999-01-22
            masked_date_of_birth: XXXX-01-22
            source: INTERNET_BANKING
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        login_identity:
          $ref: '#/components/schemas/LoginIdentityShort'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
      type: object
    Identity:
      example:
        emails:
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          raw: example123@example.com
          source: INTERNET_BANKING
          email: example123@example.com
          masked_email: exam******@example.com
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          raw: example123@example.com
          source: INTERNET_BANKING
          email: example123@example.com
          masked_email: exam******@example.com
        phone_numbers:
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          mobile_phone: +12345678901
          raw: +123 4567 8901
          masked_phone: +12345****01
          source: INTERNET_BANKING
          other_phone: +12345678901
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          mobile_phone: +12345678901
          raw: +123 4567 8901
          masked_phone: +12345****01
          source: INTERNET_BANKING
          other_phone: +12345678901
        addresses:
        - building_name: Building A
          street_address: 221B Baker Street
          country: United Kingdom
          account_ids:
          - account_ids
          - account_ids
          city: London
          raw: 221B Baker Street, Westminster, London
          floor_number: "2"
          full_address: 221B Baker Street, Westminster, London
          ward: Sheung Wan
          source: INTERNET_BANKING
          street_name: Baker Street
          source_ids:
          - source_ids
          - source_ids
          unit_number: 221B
          province: Westminster
          district: Marleybone
          street_number: 221B
          postal_code: NW1 6XE
        - building_name: Building A
          street_address: 221B Baker Street
          country: United Kingdom
          account_ids:
          - account_ids
          - account_ids
          city: London
          raw: 221B Baker Street, Westminster, London
          floor_number: "2"
          full_address: 221B Baker Street, Westminster, London
          ward: Sheung Wan
          source: INTERNET_BANKING
          street_name: Baker Street
          source_ids:
          - source_ids
          - source_ids
          unit_number: 221B
          province: Westminster
          district: Marleybone
          street_number: 221B
          postal_code: NW1 6XE
        names:
        - source_ids:
          - source_ids
          - source_ids
          full_name: John Maximus Doe
          account_ids:
          - account_ids
          - account_ids
          raw: John Maximus Doe
          last_name: Doe
          other_name: Maximus
          source: INTERNET_BANKING
          first_name: John
        - source_ids:
          - source_ids
          - source_ids
          full_name: John Maximus Doe
          account_ids:
          - account_ids
          - account_ids
          raw: John Maximus Doe
          last_name: Doe
          other_name: Maximus
          source: INTERNET_BANKING
          first_name: John
        date_of_births:
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          date_of_birth: 1999-01-22
          raw: 1999-01-22
          masked_date_of_birth: XXXX-01-22
          source: INTERNET_BANKING
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          date_of_birth: 1999-01-22
          raw: 1999-01-22
          masked_date_of_birth: XXXX-01-22
          source: INTERNET_BANKING
      properties:
        names:
          items:
            $ref: '#/components/schemas/IdentityName'
          type: array
        addresses:
          items:
            $ref: '#/components/schemas/IdentityAddress'
          type: array
        emails:
          items:
            $ref: '#/components/schemas/IdentityEmail'
          type: array
        phone_numbers:
          items:
            $ref: '#/components/schemas/IdentityPhoneNumber'
          type: array
        date_of_births:
          items:
            $ref: '#/components/schemas/IdentityDateOfBirth'
          type: array
      type: object
    ListAccountsResponse:
      example:
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
        accounts:
        - country: HKG
          account_type: SAVINGS
          account_currency: HKD
          account_holder_name: John Doe
          account_sub_type: TIME_DEPOSIT
          created_at: 2000-01-23T04:56:07.000+00:00
          account_nickname: Emergency Fund
          is_parent: false
          statement_balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          updated_at: 2000-01-23T04:56:07.000+00:00
          balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          is_excluded: false
          group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          account_name: HKD Savings
          account_number_masked: 123XXXXXX89
          is_closed: false
        - country: HKG
          account_type: SAVINGS
          account_currency: HKD
          account_holder_name: John Doe
          account_sub_type: TIME_DEPOSIT
          created_at: 2000-01-23T04:56:07.000+00:00
          account_nickname: Emergency Fund
          is_parent: false
          statement_balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          updated_at: 2000-01-23T04:56:07.000+00:00
          balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          is_excluded: false
          group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          account_name: HKD Savings
          account_number_masked: 123XXXXXX89
          is_closed: false
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/Account'
          type: array
        login_identity:
          $ref: '#/components/schemas/LoginIdentityShort'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
      type: object
    RefreshRequest:
      example:
        refresh_token: refresh_token
      properties:
        refresh_token:
          type: string
      required:
      - refresh_token
      type: object
    Account:
      example:
        country: HKG
        account_type: SAVINGS
        account_currency: HKD
        account_holder_name: John Doe
        account_sub_type: TIME_DEPOSIT
        created_at: 2000-01-23T04:56:07.000+00:00
        account_nickname: Emergency Fund
        is_parent: false
        statement_balance:
          raw: "69.00"
          currency: HKD
          value: 69.0
        account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
        updated_at: 2000-01-23T04:56:07.000+00:00
        balance:
          raw: "69.00"
          currency: HKD
          value: 69.0
        is_excluded: false
        group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
        account_name: HKD Savings
        account_number_masked: 123XXXXXX89
        is_closed: false
      properties:
        account_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        group_id:
          description: The SHA3-256 hash of the account number, salted with the loginIdentityId
          example: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          type: string
        account_holder_name:
          example: John Doe
          type: string
        account_name:
          example: HKD Savings
          type: string
        account_nickname:
          example: Emergency Fund
          type: string
        account_type:
          example: SAVINGS
          type: string
        account_sub_type:
          example: TIME_DEPOSIT
          type: string
        account_number_masked:
          example: 123XXXXXX89
          type: string
        country:
          example: HKG
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
        account_currency:
          example: HKD
          type: string
        balance:
          $ref: '#/components/schemas/CurrencyAmount'
        statement_balance:
          $ref: '#/components/schemas/CurrencyAmount'
        is_parent:
          example: false
          type: boolean
        is_closed:
          example: false
          type: boolean
        is_excluded:
          example: false
          type: boolean
      required:
      - account_id
      - account_name
      - group_id
      - is_closed
      - is_excluded
      - is_parent
      type: object
    BalanceHistory:
      example:
        date: 2021-10-27
        amount: 69.0
        currency: HKD
      properties:
        date:
          description: The date the balance was recorded
          example: 2021-10-27
          type: string
        amount:
          description: The end of day balance for this account on this specific date
          example: 69.0
          type: number
        currency:
          description: The currency the balance
          example: HKD
          type: string
      required:
      - amount
      - currency
      - date
      type: object
    AccountNumber:
      example:
        number: "1234567890123"
        account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
        raw: 123-4567890-123
      properties:
        account_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        number:
          example: "1234567890123"
          type: string
        raw:
          example: 123-4567890-123
          type: string
      required:
      - account_id
      - raw
      type: object
    CurrencyAmount:
      example:
        raw: "69.00"
        currency: HKD
        value: 69.0
      properties:
        currency:
          example: HKD
          type: string
        value:
          example: 69.0
          type: number
        raw:
          example: "69.00"
          type: string
      required:
      - value
      type: object
    Transaction:
      example:
        transaction_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
        transaction_date: 2020-10-08T00:00:00.000+0000
        amount:
          raw: "69.00"
          currency: HKD
          value: 69.0
        transfer_details: '{}'
        merchant_name: FUEL COFFEE
        description: Latte
        created_at: 2000-01-23T04:56:07.000+00:00
        transaction_type: OTHER
        account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
        category_id: OTHER
        updated_at: 2000-01-23T04:56:07.000+00:00
        transaction_state: ACTIVE
        location: Pacific Place
        category: OTHER
        posted_date: 2020-10-10T00:00:00.000+0000
        is_pending: false
        status: COMPLETED
      properties:
        transaction_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        account_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        transaction_state:
          example: ACTIVE
          type: string
        transaction_type:
          example: OTHER
          type: string
        category:
          example: OTHER
          type: string
        category_id:
          example: OTHER
          type: string
        merchant_name:
          example: FUEL COFFEE
          type: string
        description:
          example: Latte
          type: string
        location:
          example: Pacific Place
          type: string
        is_pending:
          example: false
          type: boolean
        status:
          example: COMPLETED
          type: string
        posted_date:
          description: YYYY-MM-DD
          example: 2020-10-10T00:00:00.000+0000
          type: string
        transaction_date:
          description: YYYY-MM-DD
          example: 2020-10-08T00:00:00.000+0000
          type: string
        amount:
          $ref: '#/components/schemas/CurrencyAmount'
        transfer_details:
          properties: {}
          type: object
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - is_pending
      type: object
    ListTransactionsResponse:
      example:
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
        total_transactions: 0
        accounts:
        - country: HKG
          account_type: SAVINGS
          account_currency: HKD
          account_holder_name: John Doe
          account_sub_type: TIME_DEPOSIT
          created_at: 2000-01-23T04:56:07.000+00:00
          account_nickname: Emergency Fund
          is_parent: false
          statement_balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          updated_at: 2000-01-23T04:56:07.000+00:00
          balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          is_excluded: false
          group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          account_name: HKD Savings
          account_number_masked: 123XXXXXX89
          is_closed: false
        - country: HKG
          account_type: SAVINGS
          account_currency: HKD
          account_holder_name: John Doe
          account_sub_type: TIME_DEPOSIT
          created_at: 2000-01-23T04:56:07.000+00:00
          account_nickname: Emergency Fund
          is_parent: false
          statement_balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          updated_at: 2000-01-23T04:56:07.000+00:00
          balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          is_excluded: false
          group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          account_name: HKD Savings
          account_number_masked: 123XXXXXX89
          is_closed: false
        transactions:
        - transaction_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          transaction_date: 2020-10-08T00:00:00.000+0000
          amount:
            raw: "69.00"
            currency: HKD
            value: 69.0
          transfer_details: '{}'
          merchant_name: FUEL COFFEE
          description: Latte
          created_at: 2000-01-23T04:56:07.000+00:00
          transaction_type: OTHER
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          category_id: OTHER
          updated_at: 2000-01-23T04:56:07.000+00:00
          transaction_state: ACTIVE
          location: Pacific Place
          category: OTHER
          posted_date: 2020-10-10T00:00:00.000+0000
          is_pending: false
          status: COMPLETED
        - transaction_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          transaction_date: 2020-10-08T00:00:00.000+0000
          amount:
            raw: "69.00"
            currency: HKD
            value: 69.0
          transfer_details: '{}'
          merchant_name: FUEL COFFEE
          description: Latte
          created_at: 2000-01-23T04:56:07.000+00:00
          transaction_type: OTHER
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          category_id: OTHER
          updated_at: 2000-01-23T04:56:07.000+00:00
          transaction_state: ACTIVE
          location: Pacific Place
          category: OTHER
          posted_date: 2020-10-10T00:00:00.000+0000
          is_pending: false
          status: COMPLETED
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/Account'
          type: array
        transactions:
          items:
            $ref: '#/components/schemas/Transaction'
          type: array
        login_identity:
          $ref: '#/components/schemas/LoginIdentityShort'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
        total_transactions:
          type: integer
      required:
      - total_transactions
      type: object
    ListInstitutionsResponse:
      items:
        $ref: '#/components/schemas/Institution'
      type: array
    IdentityName:
      example:
        source_ids:
        - source_ids
        - source_ids
        full_name: John Maximus Doe
        account_ids:
        - account_ids
        - account_ids
        raw: John Maximus Doe
        last_name: Doe
        other_name: Maximus
        source: INTERNET_BANKING
        first_name: John
      properties:
        raw:
          example: John Maximus Doe
          type: string
        full_name:
          example: John Maximus Doe
          type: string
        first_name:
          example: John
          type: string
        last_name:
          example: Doe
          type: string
        other_name:
          example: Maximus
          type: string
        source:
          example: INTERNET_BANKING
          type: string
        source_ids:
          items:
            type: string
          type: array
        account_ids:
          items:
            type: string
          type: array
      type: object
    IdentityAddress:
      example:
        building_name: Building A
        street_address: 221B Baker Street
        country: United Kingdom
        account_ids:
        - account_ids
        - account_ids
        city: London
        raw: 221B Baker Street, Westminster, London
        floor_number: "2"
        full_address: 221B Baker Street, Westminster, London
        ward: Sheung Wan
        source: INTERNET_BANKING
        street_name: Baker Street
        source_ids:
        - source_ids
        - source_ids
        unit_number: 221B
        province: Westminster
        district: Marleybone
        street_number: 221B
        postal_code: NW1 6XE
      properties:
        raw:
          example: 221B Baker Street, Westminster, London
          type: string
        full_address:
          example: 221B Baker Street, Westminster, London
          type: string
        unit_number:
          example: 221B
          type: string
        floor_number:
          example: "2"
          type: string
        building_name:
          example: Building A
          type: string
        street_number:
          example: 221B
          type: string
        street_name:
          example: Baker Street
          type: string
        city:
          example: London
          type: string
        district:
          example: Marleybone
          type: string
        ward:
          example: Sheung Wan
          type: string
        street_address:
          example: 221B Baker Street
          type: string
        province:
          example: Westminster
          type: string
        country:
          example: United Kingdom
          type: string
        postal_code:
          example: NW1 6XE
          type: string
        source:
          example: INTERNET_BANKING
          type: string
        source_ids:
          items:
            type: string
          type: array
        account_ids:
          items:
            type: string
          type: array
      type: object
    IdentityEmail:
      example:
        source_ids:
        - source_ids
        - source_ids
        account_ids:
        - account_ids
        - account_ids
        raw: example123@example.com
        source: INTERNET_BANKING
        email: example123@example.com
        masked_email: exam******@example.com
      properties:
        raw:
          example: example123@example.com
          type: string
        email:
          example: example123@example.com
          type: string
        masked_email:
          example: exam******@example.com
          type: string
        source:
          example: INTERNET_BANKING
          type: string
        source_ids:
          items:
            type: string
          type: array
        account_ids:
          items:
            type: string
          type: array
      type: object
    IdentityPhoneNumber:
      example:
        source_ids:
        - source_ids
        - source_ids
        account_ids:
        - account_ids
        - account_ids
        mobile_phone: +12345678901
        raw: +123 4567 8901
        masked_phone: +12345****01
        source: INTERNET_BANKING
        other_phone: +12345678901
      properties:
        raw:
          example: +123 4567 8901
          type: string
        mobile_phone:
          example: +12345678901
          type: string
        other_phone:
          example: +12345678901
          type: string
        masked_phone:
          example: +12345****01
          type: string
        source:
          example: INTERNET_BANKING
          type: string
        source_ids:
          items:
            type: string
          type: array
        account_ids:
          items:
            type: string
          type: array
      type: object
    IdentityDateOfBirth:
      example:
        source_ids:
        - source_ids
        - source_ids
        account_ids:
        - account_ids
        - account_ids
        date_of_birth: 1999-01-22
        raw: 1999-01-22
        masked_date_of_birth: XXXX-01-22
        source: INTERNET_BANKING
      properties:
        raw:
          example: 1999-01-22
          type: string
        date_of_birth:
          example: 1999-01-22
          type: string
        masked_date_of_birth:
          example: XXXX-01-22
          type: string
        source:
          example: INTERNET_BANKING
          type: string
        source_ids:
          items:
            type: string
          type: array
        account_ids:
          items:
            type: string
          type: array
      type: object
    InstitutionShort:
      example:
        portal_name: Personal Internet Banking
        countries:
        - HKG
        institution_name: Mock Bank
        institution_id: "123"
      properties:
        institution_id:
          example: "123"
          type: string
        countries:
          example:
          - HKG
          items:
            type: string
          type: array
        institution_name:
          example: Mock Bank
          type: string
        portal_name:
          example: Personal Internet Banking
          type: string
      type: object
    Institution:
      example:
        portal_name: Personal Internet Banking
        login_methods:
        - is_default_method: true
          name: SMS OTP
          id: SMS OTP
          login_fields:
          - name: Password
            type: password
            key: password
          - name: Password
            type: password
            key: password
        - is_default_method: true
          name: SMS OTP
          id: SMS OTP
          login_fields:
          - name: Password
            type: password
            key: password
          - name: Password
            type: password
            key: password
        institution_type: BANK
        color: '#FFFFFF'
        parent_institution_name: Parent Mock Bank
        countries:
        - HKG
        institution_name: Mock Bank
        login_details: '{}'
        institution_id: "123"
        tags:
        - real
        login_actions:
        - buttons:
          - name: name
            type: SUBMIT
            value: Submit One time password
          - name: name
            type: SUBMIT
            value: Submit One time password
          name: MOBILE_OTP
          messages:
          - name: name
            type: type
            value: value
          - name: name
            type: type
            value: value
          type: ACTION
          fields:
          - name: name
            options:
            - label: joe-iphone-13
              value: Joe's iPhone 13 Pro Max
            - label: joe-iphone-13
              value: Joe's iPhone 13 Pro Max
            label: label
            placeholder: placeholder
            type: SELECT
          - name: name
            options:
            - label: joe-iphone-13
              value: Joe's iPhone 13 Pro Max
            - label: joe-iphone-13
              value: Joe's iPhone 13 Pro Max
            label: label
            placeholder: placeholder
            type: SELECT
        - buttons:
          - name: name
            type: SUBMIT
            value: Submit One time password
          - name: name
            type: SUBMIT
            value: Submit One time password
          name: MOBILE_OTP
          messages:
          - name: name
            type: type
            value: value
          - name: name
            type: type
            value: value
          type: ACTION
          fields:
          - name: name
            options:
            - label: joe-iphone-13
              value: Joe's iPhone 13 Pro Max
            - label: joe-iphone-13
              value: Joe's iPhone 13 Pro Max
            label: label
            placeholder: placeholder
            type: SELECT
          - name: name
            options:
            - label: joe-iphone-13
              value: Joe's iPhone 13 Pro Max
            - label: joe-iphone-13
              value: Joe's iPhone 13 Pro Max
            label: label
            placeholder: placeholder
            type: SELECT
        products_supported:
        - ACCOUNTS
        - TRANSACTIONS
        - STATEMENTS
        - ACCOUNT_NUMBERS
        - IDENTITY
        login_url: https://example.com/login
        user_type:
        - INDIVIDUAL
        - INDIVIDUAL
        updated_at: 2000-01-23T04:56:07.000+00:00
        payment_info:
          currencies_supported:
          - HKD
          - CNY
          other_info:
            bank_code: bank_code
        status_details: {}
        status: SUPPORTED
      properties:
        institution_id:
          example: "123"
          type: string
        countries:
          example:
          - HKG
          items:
            type: string
          type: array
        tags:
          example:
          - real
          items:
            enum:
            - real
            - test
            type: string
          type: array
        institution_type:
          enum:
          - BANK
          - WALLET
          - TEST
          example: BANK
          type: string
        products_supported:
          example:
          - ACCOUNTS
          - TRANSACTIONS
          - STATEMENTS
          - ACCOUNT_NUMBERS
          - IDENTITY
          items:
            enum:
            - ACCOUNTS
            - TRANSACTIONS
            - STATEMENTS
            - ACCOUNT_NUMBERS
            - IDENTITY
            type: string
          type: array
        parent_institution_name:
          example: Parent Mock Bank
          type: string
        institution_name:
          example: Mock Bank
          type: string
        portal_name:
          example: Personal Internet Banking
          type: string
        user_type:
          items:
            enum:
            - PERSONAL
            - INDIVIDUAL
            - BUSINESS
            example: INDIVIDUAL
            type: string
          type: array
        status:
          enum:
          - SUPPORTED
          - ALPHA
          - BETA
          example: SUPPORTED
          type: string
        status_details:
          example: {}
          properties: {}
          type: object
        login_url:
          example: https://example.com/login
          type: string
        login_details:
          type: object
          x-go-type:
            type: LoginDetails
            import:
              package: gitlab.com/finverse/gitops/applications/api/models/custom
        login_methods:
          items:
            $ref: '#/components/schemas/LoginMethod'
          type: array
        payment_info:
          $ref: '#/components/schemas/PaymentInfo'
        color:
          example: '#FFFFFF'
          type: string
        updated_at:
          format: date-time
          type: string
        login_actions:
          items:
            $ref: '#/components/schemas/LoginAction'
          type: array
      required:
      - countries
      - institution_id
      - institution_name
      - institution_type
      - login_details
      - products_supported
      - status
      - user_type
      type: object
    LoginMethod:
      example:
        is_default_method: true
        name: SMS OTP
        id: SMS OTP
        login_fields:
        - name: Password
          type: password
          key: password
        - name: Password
          type: password
          key: password
      properties:
        id:
          example: SMS OTP
          type: string
        name:
          example: SMS OTP
          type: string
        is_default_method:
          example: true
          nullable: true
          type: boolean
        login_fields:
          items:
            $ref: '#/components/schemas/LoginField'
          type: array
      type: object
    LoginAction:
      example:
        buttons:
        - name: name
          type: SUBMIT
          value: Submit One time password
        - name: name
          type: SUBMIT
          value: Submit One time password
        name: MOBILE_OTP
        messages:
        - name: name
          type: type
          value: value
        - name: name
          type: type
          value: value
        type: ACTION
        fields:
        - name: name
          options:
          - label: joe-iphone-13
            value: Joe's iPhone 13 Pro Max
          - label: joe-iphone-13
            value: Joe's iPhone 13 Pro Max
          label: label
          placeholder: placeholder
          type: SELECT
        - name: name
          options:
          - label: joe-iphone-13
            value: Joe's iPhone 13 Pro Max
          - label: joe-iphone-13
            value: Joe's iPhone 13 Pro Max
          label: label
          placeholder: placeholder
          type: SELECT
      properties:
        type:
          example: ACTION
          type: string
        name:
          example: MOBILE_OTP
          type: string
        messages:
          items:
            $ref: '#/components/schemas/UserMessage'
          type: array
        fields:
          items:
            $ref: '#/components/schemas/UserField'
          type: array
        buttons:
          items:
            $ref: '#/components/schemas/UserButton'
          type: array
      type: object
    LoginField:
      example:
        name: Password
        type: password
        key: password
      properties:
        key:
          example: password
          type: string
        name:
          example: Password
          type: string
        type:
          description: could be password, text, number
          example: password
          type: string
      type: object
    TokenRequest:
      example:
        grant_type: grant_type
        client_secret: client_secret
        client_id: client_id
      properties:
        client_id:
          maxLength: 26
          minLength: 26
          type: string
        client_secret:
          maxLength: 80
          minLength: 64
          type: string
        grant_type:
          description: support only client_credentials
          type: string
      required:
      - client_id
      - client_secret
      - grant_type
      type: object
    TokenResponse:
      example:
        access_token: access_token
        token_type: token_type
        expires_in: 0.8008281904610115
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          description: seconds
          format: int64
          type: number
      required:
      - access_token
      - expires_in
      - token_type
      type: object
    LinkTokenRequest:
      example:
        institution_status: alpha beta supported
        link_mode: real
        payment_instruction_id: payment_instruction_id
        response_type: code
        language: en
        code_challenge_method: code-challenge-method
        countries:
        - HKG
        - SGP
        client_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        response_mode: form_post
        institution_id: hsbc-hk
        products_supported:
        - ACCOUNTS
        - TRANSACTIONS
        customization_id: AULIDGOESHERE
        user_type:
        - PERSONAL
        grant_type: grant_type
        user_id: 01BX5ZZKBKACTAV9WEVGEMMVRY
        scope: comma,separated,scopes
        automatic_data_refresh: "ON"
        redirect_uri: https://example.com/callback
        state: user-state-passed
        login_identity_id: uhdasidasodaso
        ui_mode: redirect
        code_challenge: code-challenge
        products_requested:
        - ACCOUNTS
        - TRANSACTIONS
        - PAYMENTS
      properties:
        grant_type:
          description: support only client_credentials
          type: string
        response_type:
          example: code
          type: string
        response_mode:
          example: form_post
          type: string
        user_id:
          description: required when creating new Link, ignored when updating existing
            Link
          example: 01BX5ZZKBKACTAV9WEVGEMMVRY
          minLength: 4
          type: string
        client_id:
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
          minLength: 4
          type: string
        redirect_uri:
          example: https://example.com/callback
          minLength: 4
          type: string
        state:
          example: user-state-passed
          type: string
        scope:
          example: comma,separated,scopes
          type: string
        link_mode:
          description: Space separated list of the tags of the institutions to view.
          example: real
          type: string
        ui_mode:
          description: The UI mode link is intended to be used in - "iframe" (default),
            "auto_redirect" or "redirect" or "standalone"
          enum:
          - iframe
          - redirect
          - auto_redirect
          - standalone
          example: redirect
          type: string
        language:
          description: ISO639-1 language code. Language to display when user open
            the link, default to English (en) if not specified
          example: en
          type: string
        code_challenge:
          example: code-challenge
          type: string
        code_challenge_method:
          example: code-challenge-method
          type: string
        login_identity_id:
          description: use this to update a specific login identity
          example: uhdasidasodaso
          type: string
        customization_id:
          description: The customization id if the customer wishes to embed it into
            link token for spawning link with their choice of stuffs
          example: AULIDGOESHERE
          type: string
        institution_id:
          description: Institution to preselect
          example: hsbc-hk
          type: string
        countries:
          description: institution's country filter
          example:
          - HKG
          - SGP
          items:
            type: string
          type: array
        user_type:
          description: institution's supported user_type filter
          example:
          - PERSONAL
          items:
            type: string
          type: array
        products_supported:
          description: institution's supported product filter
          example:
          - ACCOUNTS
          - TRANSACTIONS
          items:
            type: string
          type: array
        products_requested:
          description: products that is requested
          example:
          - ACCOUNTS
          - TRANSACTIONS
          - PAYMENTS
          items:
            type: string
          type: array
        payment_instruction_id:
          description: The identifier returned after creating payment instruction
          example: payment_instruction_id
          type: string
        automatic_data_refresh:
          description: Controls the behavior of the automatic data refresh checkbox
          enum:
          - "ON"
          - "OFF"
          - FORCED_ON
          type: string
        institution_status:
          description: institution's status filter
          example: alpha beta supported
          type: string
      required:
      - client_id
      - grant_type
      - redirect_uri
      - response_mode
      - response_type
      type: object
    LinkTokenResponse:
      example:
        access_token: access_token
        link_url: https://link.dev.finverse.net/onboarding?token=dasdsa8erhiu7rey78r
        token_type: token_type
        expires_in: 0.8008281904610115
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          description: seconds
          format: int64
          type: number
        link_url:
          example: https://link.dev.finverse.net/onboarding?token=dasdsa8erhiu7rey78r
          type: string
      required:
      - access_token
      - expires_in
      - link_url
      - token_type
      type: object
    LinkRequest:
      example:
        payment_instruction_id: payment_instruction_id
        store_credential: true
        consent: true
        products_requested:
        - ACCOUNTS
        - TRANSACTIONS
        - PAYMENTS
        institution_id: ez-bank
      properties:
        institution_id:
          example: ez-bank
          minLength: 2
          type: string
        store_credential:
          example: true
          type: boolean
        consent:
          description: this is a mandatory field
          example: true
          nullable: true
          type: boolean
        products_requested:
          description: products that is requested
          example:
          - ACCOUNTS
          - TRANSACTIONS
          - PAYMENTS
          items:
            type: string
          type: array
        payment_instruction_id:
          description: The identifier returned after creating payment instruction
          example: payment_instruction_id
          type: string
      required:
      - institution_id
      - store_credential
      type: object
    ApiLinkRequest:
      example:
        user_id: user_id
        payment_instruction_id: payment_instruction_id
        encrypted_credentials:
          initializationVector: initializationVector
          ciphertext: ciphertext
          envelopeEncryptionKey: envelopeEncryptionKey
          messageAuthenticationCode: messageAuthenticationCode
          keyId: keyId
        store_credentials: true
        consent: true
        products_requested:
        - ACCOUNTS
        - TRANSACTIONS
        - PAYMENTS
        institution_id: ez-bank
      properties:
        institution_id:
          example: ez-bank
          minLength: 2
          type: string
        user_id:
          description: Identifier for end user
          type: string
        consent:
          description: this is a mandatory field
          example: true
          nullable: true
          type: boolean
        products_requested:
          description: products that are requested
          example:
          - ACCOUNTS
          - TRANSACTIONS
          - PAYMENTS
          items:
            type: string
          type: array
        store_credentials:
          example: true
          type: boolean
        encrypted_credentials:
          $ref: '#/components/schemas/EncryptedPayload'
        payment_instruction_id:
          type: string
      required:
      - consent
      - encrypted_credentials
      - institution_id
      - products_requested
      - store_credentials
      - user_id
      type: object
    ApiRelinkRequest:
      example:
        encrypted_credentials:
          initializationVector: initializationVector
          ciphertext: ciphertext
          envelopeEncryptionKey: envelopeEncryptionKey
          messageAuthenticationCode: messageAuthenticationCode
          keyId: keyId
        store_credential: true
        consent: true
      properties:
        store_credential:
          type: boolean
        consent:
          type: boolean
        encrypted_credentials:
          $ref: '#/components/schemas/EncryptedPayload'
      required:
      - consent
      - encrypted_credentials
      type: object
    RelinkRequest:
      example:
        store_credential: true
        consent: true
      properties:
        store_credential:
          example: true
          type: boolean
        consent:
          description: this is a mandatory field
          example: true
          nullable: true
          type: boolean
      required:
      - store_credential
      type: object
    ActionRequest:
      example:
        action_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
        encrypted_credentials:
          initializationVector: initializationVector
          ciphertext: ciphertext
          envelopeEncryptionKey: envelopeEncryptionKey
          messageAuthenticationCode: messageAuthenticationCode
          keyId: keyId
      properties:
        encrypted_credentials:
          $ref: '#/components/schemas/EncryptedPayload'
        action_id:
          description: The action id
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
      required:
      - action_id
      - encrypted_credentials
      type: object
    GetLoginIdentityByIdResponse:
      example:
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        login_identity:
          login_methods_available:
            havePassword: true
            haveSecret: true
          customer_app_id: customer_app_id
          permissions_expiry_date: 2000-01-23T04:56:07.000+00:00
          billing_details:
            billed_products:
            - billed_products
            - billed_products
          webhook: https://auth.example.com/callback
          last_success: 2000-01-23T04:56:07.000+00:00
          permissions_grant_date: 2000-01-23T04:56:07.000+00:00
          product_status:
            identity:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            income_estimation:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            payments:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            balance_history:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            statements:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            accounts:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            account_numbers:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            historical_transactions:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            online_transactions:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
          created_at: 2000-01-23T04:56:07.000+00:00
          refresh:
            refresh_allowed: true
            credentials_stored: true
          error:
            code: 0
            details: Credentials are invalid. Please try again.
            type: INVALID_CREDENTIALS
            message: Credentials invalid
          last_session_id: last_session_id
          authentication_id: "123"
          institution_id: "123"
          linking_attempt_id: "123"
          updated_at: 2000-01-23T04:56:07.000+00:00
          user_id: form_post
          permissions:
          - permissions
          - permissions
          authentication_status:
            last_successful_update: 2021-02-01T10:01:02.333Z
            last_update: 2021-02-01T10:01:02.333Z
            status_details: AUTHENTICATION_INITIALIZED
            status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
          first_success: 2000-01-23T04:56:07.000+00:00
          login_identity_id: login_identity_id
          session_status: COMPLETED
          status_details:
            event_date: 2000-01-23T04:56:07.000+00:00
            event_name: event_name
          status: LINKING
      properties:
        login_identity:
          $ref: '#/components/schemas/LoginIdentity'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
      type: object
    GetLoginIdentityHistoryResponse:
      example:
        login_identity:
          login_methods_available:
            havePassword: true
            haveSecret: true
          customer_app_id: customer_app_id
          permissions_expiry_date: 2000-01-23T04:56:07.000+00:00
          billing_details:
            billed_products:
            - billed_products
            - billed_products
          webhook: https://auth.example.com/callback
          last_success: 2000-01-23T04:56:07.000+00:00
          permissions_grant_date: 2000-01-23T04:56:07.000+00:00
          product_status:
            identity:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            income_estimation:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            payments:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            balance_history:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            statements:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            accounts:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            account_numbers:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            historical_transactions:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
            online_transactions:
              last_successful_update: 2021-02-01T10:01:02.333Z
              last_update: 2021-02-01T10:01:02.333Z
              status_details: AUTHENTICATION_INITIALIZED
              status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
          created_at: 2000-01-23T04:56:07.000+00:00
          refresh:
            refresh_allowed: true
            credentials_stored: true
          error:
            code: 0
            details: Credentials are invalid. Please try again.
            type: INVALID_CREDENTIALS
            message: Credentials invalid
          last_session_id: last_session_id
          authentication_id: "123"
          institution_id: "123"
          linking_attempt_id: "123"
          updated_at: 2000-01-23T04:56:07.000+00:00
          user_id: form_post
          permissions:
          - permissions
          - permissions
          authentication_status:
            last_successful_update: 2021-02-01T10:01:02.333Z
            last_update: 2021-02-01T10:01:02.333Z
            status_details: AUTHENTICATION_INITIALIZED
            status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
          first_success: 2000-01-23T04:56:07.000+00:00
          login_identity_id: login_identity_id
          session_status: COMPLETED
          status_details:
            event_date: 2000-01-23T04:56:07.000+00:00
            event_name: event_name
          status: LINKING
        status_history:
        - event_date: 2000-01-23T04:56:07.000+00:00
          event_name: event_name
        - event_date: 2000-01-23T04:56:07.000+00:00
          event_name: event_name
      properties:
        login_identity:
          $ref: '#/components/schemas/LoginIdentity'
        status_history:
          items:
            $ref: '#/components/schemas/LoginIdentityStatusDetails'
          type: array
      type: object
    LoginIdentityStatusDetails:
      example:
        event_date: 2000-01-23T04:56:07.000+00:00
        event_name: event_name
      properties:
        event_date:
          format: date-time
          type: string
        event_name:
          type: string
      type: object
    LoginIdentityLoginMethodsAvailable:
      example:
        havePassword: true
        haveSecret: true
      properties:
        havePassword:
          type: boolean
        haveSecret:
          type: boolean
      type: object
    LoginIdentityBillingDetails:
      example:
        billed_products:
        - billed_products
        - billed_products
      properties:
        billed_products:
          items:
            type: string
          type: array
      type: object
    LoginIdentityShort:
      example:
        login_identity_id: login_identity_id
        last_session_id: last_session_id
        status: LINKING
      properties:
        login_identity_id:
          format: ulid
          type: string
        status:
          example: LINKING
          type: string
        last_session_id:
          format: ulid
          type: string
      type: object
    LoginIdentity:
      example:
        login_methods_available:
          havePassword: true
          haveSecret: true
        customer_app_id: customer_app_id
        permissions_expiry_date: 2000-01-23T04:56:07.000+00:00
        billing_details:
          billed_products:
          - billed_products
          - billed_products
        webhook: https://auth.example.com/callback
        last_success: 2000-01-23T04:56:07.000+00:00
        permissions_grant_date: 2000-01-23T04:56:07.000+00:00
        product_status:
          identity:
            last_successful_update: 2021-02-01T10:01:02.333Z
            last_update: 2021-02-01T10:01:02.333Z
            status_details: AUTHENTICATION_INITIALIZED
            status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
          income_estimation:
            last_successful_update: 2021-02-01T10:01:02.333Z
            last_update: 2021-02-01T10:01:02.333Z
            status_details: AUTHENTICATION_INITIALIZED
            status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
          payments:
            last_successful_update: 2021-02-01T10:01:02.333Z
            last_update: 2021-02-01T10:01:02.333Z
            status_details: AUTHENTICATION_INITIALIZED
            status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
          balance_history:
            last_successful_update: 2021-02-01T10:01:02.333Z
            last_update: 2021-02-01T10:01:02.333Z
            status_details: AUTHENTICATION_INITIALIZED
            status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
          statements:
            last_successful_update: 2021-02-01T10:01:02.333Z
            last_update: 2021-02-01T10:01:02.333Z
            status_details: AUTHENTICATION_INITIALIZED
            status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
          accounts:
            last_successful_update: 2021-02-01T10:01:02.333Z
            last_update: 2021-02-01T10:01:02.333Z
            status_details: AUTHENTICATION_INITIALIZED
            status: IN_PROGRESS, SUCCESS, PARTIAL_ERROR, WARNING, ERROR
          account_numbers:
            last_successful_update: 2021-02-01T10:01:02.333Z
            last_update: 2021-02-01T10:01:02.333Z
            status_details: AUTHENTICATION_INITIALIZED
[...]
