openapi: 3.0.1
info:
  contact:
    email: info@finverse.com
    name: Maintainers
  description: Documentation of the early finverse services
  license:
    name: unknown license
  termsOfService: https://example.com
  title: Finverse Public
  version: 0.0.1
servers:
- url: https://api.sandbox.finverse.net/
security:
- Oauth2:
  - test
tags:
- description: Operations does not required an access token
  name: public
- description: Operations required a customer access token
  name: customer
- description: Operations required a login identity access token
  name: login_identity
- description: Operations required a link token
  name: link
paths:
  /jwks:
    get:
      description: get jwks
      operationId: getCredSubmitJwks
      responses:
        "200":
          content: {}
          description: ok
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Internal Server Error
      tags:
      - public
  /auth/customer/token:
    post:
      description: generate an access_token
      operationId: generateCustomerAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
        description: token request
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      tags:
      - public
      x-codegen-request-body-name: tokenRequest
  /accounts/{accountId}:
    get:
      description: Get a specific account's information
      operationId: getAccount
      parameters:
      - description: The account id
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - account
      tags:
      - login_identity
  /accounts:
    get:
      description: Get a list of accounts for a login identity
      operationId: listAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - account
      tags:
      - login_identity
  /card_details:
    get:
      description: Get a list of card details for a login identity
      operationId: listCardDetails
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCardsDetailsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - card:get
      tags:
      - login_identity
  /account_numbers/{accountId}:
    get:
      description: Get the account number for a specific account
      operationId: getAccountNumber
      parameters:
      - description: The account id
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountNumberResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - account_number
      tags:
      - login_identity
  /balance_history/{accountId}:
    get:
      description: Get the balance history for a specific account
      operationId: getBalanceHistory
      parameters:
      - description: The account id
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: The source will determine what type of balance history will be
          returned
        in: query
        name: source
        schema:
          enum:
          - INSTITUTION
          - COMPUTED
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBalanceHistoryResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - balance_history
      tags:
      - login_identity
  /transactions/{accountId}:
    get:
      description: Get a list of transactions for a particular account. The transactions
        are returned in sorted order, with the most recent one appearing first.
      operationId: listTransactionsByAccountId
      parameters:
      - description: The account id (ULID, example - 01EP4A1MZDHKETZFRPF0K62S6S)
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: default is 500, max is 1000
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      - description: when true, response will be enriched transactions; otherwise
          it will be raw transactions
        in: query
        name: enrichments
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - transaction
      tags:
      - login_identity
  /transactions:
    get:
      description: Get a list of transactions for a login identity. The transactions
        are returned in sorted order, with the most recent one appearing first.
      operationId: listTransactionsByLoginIdentityId
      parameters:
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: default is 500, max is 1000
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      - description: when true, response will be enriched transactions; otherwise
          it will be raw transactions
        in: query
        name: enrichments
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - transaction
      tags:
      - login_identity
  /income:
    get:
      description: Get income figures for a login identity
      operationId: getIncomeEstimateByLoginIdentityId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - income:get
      tags:
      - login_identity
  /institutions/{institutionId}:
    get:
      description: Get a specific institution by institutionId
      operationId: getInstitution
      parameters:
      - description: The institution id
        in: path
        name: institutionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - institution
      tags:
      - customer
  /institutions:
    get:
      description: Get a list of institutions
      operationId: listInstitutions
      parameters:
      - description: (Deprecated) The country the institution belongs to
        in: query
        name: country
        schema:
          type: string
      - description: The countries the institution belongs to
        explode: false
        in: query
        name: countries
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The products that this institution supports
        in: query
        name: products_supported
        schema:
          type: string
      - description: The type of institution
        in: query
        name: institution_type
        schema:
          enum:
          - BANK
          - WALLET
          - TEST
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInstitutionsResponse'
          description: Successful
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - institution
      tags:
      - customer
      - link
  /institutions/customer:
    get:
      description: Get a customer-specific list of institutions for Finverse Link
      operationId: getInstitutionsForCustomer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInstitutionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - institution:link
  /identity:
    get:
      description: \[BETA] Get a list of identity data for a given login identity
      operationId: getIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIdentityResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - identity
      tags:
      - login_identity
  /payment_links/confirm:
    post:
      description: Confirm a payment against a payment Link
      operationId: confirmPayment
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmPaymentResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payment:confirm
  /payment_links/mandates:
    post:
      description: CREATE Mandate for payment link
      operationId: createPaymentLinkMandate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkMandateRequest'
        description: request body for creating mandate for payment-link
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentLinkMandateResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentlink:mandate:create
      x-codegen-request-body-name: createPaymentLinkMandateRequest
  /payment_links/card:
    post:
      description: Initiate Card Payment for a Payment Link
      operationId: createPaymentLinkCardPayment
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentLinkCardPaymentResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentlink:cc:create
  /payment_links/fps/token:
    post:
      description: Create token for fps flow
      operationId: createFpsToken
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFpsTokenResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentlink:fps:token
  /payment_links:
    post:
      description: Create payment link
      operationId: CreatePaymentLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkRequest'
        description: Parameters required to create a payment link
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentlink:create
      x-codegen-request-body-name: createPaymentLinkRequest
  /payment_links/{paymentLinkId}:
    get:
      description: Get payment link
      operationId: GetPaymentLink
      parameters:
      - description: The payment link id
        in: path
        name: paymentLinkId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentlink:get
  /payment_links/{paymentLinkId}/cancel:
    post:
      description: Cancel a payment link
      operationId: CancelPaymentLink
      parameters:
      - description: The payment link id
        in: path
        name: paymentLinkId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - paymentlink:cancel
  /link:
    post:
      description: Create a new link and submit credentials
      operationId: createLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiLinkRequest'
        description: Request body for creating a new link and submitting credentials
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityByIdResponse'
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Internal Server Error
      security:
      - Oauth2:
        - linkApi:create
      tags:
      - link
      x-codegen-request-body-name: apiLinkRequest
  /link/woauth:
    post:
      description: Creates a new link
      operationId: createLinkWoauth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkRequest'
        description: Request body for starting a new Link
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkResponse'
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - link
      tags:
      - link
      x-codegen-request-body-name: linkRequest
  /link/token:
    post:
      description: generate a link token that can be used to create link
      operationId: generateLinkToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkTokenRequest'
        description: token request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkTokenResponse'
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - link:token
      tags:
      - customer
      - login_identity
      x-codegen-request-body-name: linkTokenRequest
  /link/relink:
    post:
      description: Update an existing link
      operationId: relink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelinkRequest'
        description: Request body for updating Link
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkResponse'
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:update
      tags:
      - link
      x-codegen-request-body-name: relinkRequest
  /link/relink/{loginIdentityId}:
    post:
      description: Create a new link using an existing LIID
      operationId: relinkV2
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRelinkRequest'
        description: Request body for relinking and submitting credentials
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityByIdResponse'
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Internal Server Error
      security:
      - Oauth2:
        - relinkApi:create
      tags:
      - link
      x-codegen-request-body-name: apiRelinkRequest
  /link/action/{loginIdentityId}:
    post:
      description: Post the user action value
      operationId: linkAction
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionRequest'
        description: Request body for post link action
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityByIdResponse'
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Internal Server Error
      security:
      - Oauth2:
        - linkApi:update
      tags:
      - link
      x-codegen-request-body-name: actionRequest
  /link/status/{loginIdentityId}:
    get:
      description: Check the status of a given loginIdentity
      operationId: linkStatus
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkStatusResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Internal Server Error
      security:
      - Oauth2:
        - linkApi:read
      tags:
      - link
  /link/fvlink/status/{loginIdentityId}:
    get:
      description: Check the status of a given login identity via FVLink
      operationId: linkStatusNonSensitive
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonSensitiveLinkStatusResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModel'
          description: Internal Server Error
      security:
      - Oauth2:
        - fvLinkStatus:read
      tags:
      - link
  /auth/callback:
    get:
      description: Callback url to get the oauth authorization token
      operationId: authCallback
      parameters:
      - description: The state of the client when oauth was initialized
        in: query
        name: state
        required: true
        schema:
          type: string
      - description: The authorization code generated by the Oauth provider
        in: query
        name: code
        schema:
          type: string
      - description: error
        in: query
        name: error
        schema:
          type: string
      - description: error description
        in: query
        name: error_description
        schema:
          type: string
      - description: error details
        in: query
        name: error_details
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectUriResponse'
          description: Returns the redirect uri with either sucess or error
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid Request
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      tags:
      - public
  /auth/token:
    post:
      description: Exchange authorization code for token
      operationId: token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                grant_type:
                  enum:
                  - authorization_code
                  type: string
                code:
                  type: string
                client_id:
                  type: string
                redirect_uri:
                  type: string
              required:
              - client_id
              - code
              - grant_type
              - redirect_uri
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
          description: Service Okay
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:token
      tags:
      - link
  /auth/token/refresh:
    post:
      description: Refresh an access token
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
        description: The refresh token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
          description: New refresh, access token
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:token
      tags:
      - customer
      x-codegen-request-body-name: refreshRequest
  /login_identity/{loginIdentityId}:
    get:
      description: Get a specific loginIdentity
      operationId: getLoginIdentityById
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityByIdResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:get
      tags:
      - customer
  /login_identity/{loginIdentityId}/history:
    get:
      description: Get a history of events for a specific loginIdentity
      operationId: getLoginIdentityHistory
      parameters:
      - description: The login identity id
        in: path
        name: loginIdentityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityHistoryResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:get
      tags:
      - customer
  /login_identity:
    delete:
      description: Delete a specific loginIdentity
      operationId: deleteLoginIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteLoginIdentityResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:delete
      tags:
      - login_identity
    get:
      description: Get a specific loginIdentity
      operationId: getLoginIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginIdentityByIdResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:self
      tags:
      - login_identity
  /login_identity/refresh:
    post:
      description: Create a refresh job for a login identity
      operationId: refreshLoginIdentity
      responses:
        "200":
          content: {}
          description: Refresh queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Refresh error
        "401":
          content: {}
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - loginIdentity:update
      tags:
      - login_identity
  /statements:
    get:
      description: Get list of available statements
      operationId: getStatements
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatementsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - statement:read
      tags:
      - login_identity
  /statements/{statementId}:
    get:
      description: Download statement
      operationId: getStatement
      parameters:
      - description: The statement id
        in: path
        name: statementId
        required: true
        schema:
          type: string
      - description: when true, response will be http redirect; otherwise it will
          be json response with the download link
        in: query
        name: redirect
        schema:
          default: true
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatementLinkResponse'
          description: Successful
        "307":
          content: {}
          description: Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - statement:read
      tags:
      - login_identity
  /composite_statement:
    get:
      description: Download composite statement
      operationId: getCompositeStatement
      parameters:
      - description: when true, response will be http redirect; otherwise it will
          be json response with the download link
        in: query
        name: redirect
        schema:
          default: true
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompositeStatementLink'
          description: Successful
        "307":
          content: {}
          description: Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Invalid Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - composite_statement
      tags:
      - login_identity
  /payments/jwks:
    get:
      description: get payment jwks
      operationId: getPaymentsJwks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJWKSResponse'
          description: Successful
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      tags:
      - public
  /mandates:
    get:
      description: List mandates
      operationId: listMandates
      parameters:
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_from
        schema:
          format: date
          type: string
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_to
        schema:
          format: date
          type: string
      - description: The mandate statuses to filter for, comma separated
        explode: false
        in: query
        name: statuses
        schema:
          items:
            enum:
            - AUTHORIZATION_REQUIRED
            - AUTHORIZING
            - PROCESSING
            - SUBMITTED
            - SUCCEEDED
            - FAILED
            - REVOKED
            type: string
          type: array
        style: form
      - description: The sender type of the mandate
        in: query
        name: sender_type
        schema:
          enum:
          - INDIVIDUAL
          - BUSINESS
          type: string
      - description: The user_id the mandate was setup for
        in: query
        name: user_id
        schema:
          type: string
      - description: The institution the mandate was executed against
        in: query
        name: institution_id
        schema:
          type: string
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: default is 500, max is 1000
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMandatesResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate:list
    post:
      description: CREATE Mandate
      operationId: createMandate
      parameters:
      - description: A random key provided by the customer, per unique payment. The
          purpose for the Idempotency key is to allow safe retrying without the operation
          being performed multiple times.
        in: header
        name: Idempotency-Key
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMandateRequest'
        description: request body for creating mandate
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMandateResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate:create
      tags:
      - customer
      x-codegen-request-body-name: createMandateRequest
  /mandates/institution_selection:
    post:
      description: Update InstitutionID and SenderType for Mandate
      operationId: setMandateInstitution
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMandateInstitutionRequest'
        description: request body for updating mandate institutionId and senderType
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetMandateInstitutionResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate_auth:update
      tags:
      - customer
      x-codegen-request-body-name: updateRequest
  /mandates/{mandateId}:
    get:
      description: Get Mandate details by mandate_id
      operationId: getMandate
      parameters:
      - description: mandate id
        in: path
        name: mandateId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMandateResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate:get
      tags:
      - customer
  /mandates/link:
    post:
      description: Get link to launch FV Link UI in mandate authorization mode
      operationId: getMandateAuthLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMandateAuthLinkRequest'
        description: request body for mandate authorization link
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMandateAuthLinkResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate:create
      tags:
      - customer
      x-codegen-request-body-name: getMandateAuthLinkRequest
  /mandates/payment_user/sender:
    get:
      description: Get sender payment user for mandate
      operationId: getSenderPaymentUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentUserResponse'
          description: Successful
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - mandates:payment_user:get
  /mandates/payment_user/autopay:
    post:
      description: Set autopay consent for payment user
      operationId: setAutopayConsent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAutopayConsentRequest'
        required: true
      responses:
        "200":
          content: {}
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - mandates:payment_user:set
      x-codegen-request-body-name: setAutopayConsentRequest
  /mandates/sender_account:
    post:
      description: Create mandate for an existing sender account
      operationId: createMandateForExistingSender
      parameters:
      - description: A random key provided by the customer, per unique payment. The
          purpose for the Idempotency key is to allow safe retrying without the operation
          being performed multiple times.
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMandateWithSenderAccountRequest'
        description: request body for creating mandate
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMandateResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate:create
      x-codegen-request-body-name: createMandateRequest
  /payments:
    get:
      description: List Payments
      operationId: listPayments
      parameters:
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_from
        schema:
          format: date
          type: string
      - description: ISO format (YYYY-MM-DD)
        in: query
        name: date_to
        schema:
          format: date
          type: string
      - description: The payment statuses to filter for, comma separated
        explode: false
        in: query
        name: statuses
        schema:
          items:
            enum:
            - AUTHORIZATION_REQUIRED
            - AUTHORIZING
            - PROCESSING
            - SUBMITTED
            - EXECUTED
            - FAILED
            - REVOKED
            type: string
          type: array
        style: form
      - description: The sender type of the mandate
        in: query
        name: sender_type
        schema:
          enum:
          - INDIVIDUAL
          - BUSINESS
          type: string
      - description: The user_id the mandate was setup for
        in: query
        name: user_id
        schema:
          type: string
      - description: The institution the mandate was executed against
        in: query
        name: institution_id
        schema:
          type: string
      - description: The type of payment
        in: query
        name: payment_type
        schema:
          enum:
          - MANDATE
          - SINGLE
          type: string
      - description: The mandate the payment belongs to
        in: query
        name: mandate_id
        schema:
          type: string
      - description: The currency the payment is made in
        in: query
        name: currency
        schema:
          type: string
      - description: default is 0
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: default is 500, max is 1000
        in: query
        name: limit
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payment:list
    post:
      description: Create new Payment
      operationId: createPayment
      parameters:
      - description: A random key provided by the customer, per unique payment. The
          purpose for the Idempotency key is to allow safe retrying without the operation
          being performed multiple times.
        in: header
        name: Idempotency-Key
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
        description: request body for creating payment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payment:create
      tags:
      - customer
      x-codegen-request-body-name: createPaymentRequest
  /payments/{paymentId}:
    get:
      description: Get Payment details by payment_id
      operationId: getPayment
      parameters:
      - description: payment id
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payment:get
      tags:
      - customer
  /mandates/auth:
    get:
      description: Get Mandate Authorization by mandate id
      operationId: getMandateAuth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMandateAuthResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate_auth:get
      tags:
      - customer
    post:
      description: Submit authorization checklist items
      operationId: submitAuthChecklist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitAuthChecklistRequest'
        description: request body for submitting auth checklist
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitAuthChecklistResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - mandate_auth:update
      tags:
      - customer
      x-codegen-request-body-name: submitAuthChecklistRequest
  /mandates/{mandateId}/authorize:
    post:
      description: Allows a customer to authorize a specific mandate
      operationId: authorizeMandate
      parameters:
      - description: The mandate_id that is being authorized
        in: path
        name: mandateId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizeMandateRequest'
        description: request body for authorizing a mandate
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitAuthChecklistResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - mandates:authorize
      tags:
      - customer
      x-codegen-request-body-name: authorizeMandateRequest
  /payments/instruction:
    post:
      description: Create a new payment instruction to be used when linking to perform
        new payment
      operationId: createPaymentInstruction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPaymentInstruction'
        description: Request body for starting a new Link
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentInstructionResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - payment:create
      tags:
      - customer
      x-codegen-request-body-name: paymentInstruction
  /payments/instruction/{paymentInstructionId}:
    get:
      description: Get payment instructions by payment_instruction_id
      operationId: getPaymentInstruction
      parameters:
      - description: The id of a payment instruction
        in: path
        name: paymentInstructionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentInstructionsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - Oauth2:
        - payment:get
      tags:
      - customer
  /payments/manual_payment:
    post:
      description: Submit manual payment confirmation
      operationId: confirmManualPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualPaymentConfirmationRequest'
        description: Request body containing information to identify manual payment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualPaymentConfirmationResponse'
          description: ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - manual_payment:confirm
      x-codegen-request-body-name: manualPaymentIdentifiers
  /payout_instructions:
    post:
      description: Create new Payout instruction
      operationId: createPayoutInstruction
      parameters:
      - description: A random key provided by the customer, per unique payout. The
          purpose for the Idempotency key is to allow safe retrying without the operation
          being performed multiple times.
        in: header
        name: Idempotency-Key
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayoutInstructionRequest'
        description: request body for creating payout instruction
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutInstructionResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payoutInstruction:create
      tags:
      - customer
      x-codegen-request-body-name: createPayoutInstructionRequest
  /payout_instructions/{payoutInstructionId}:
    get:
      description: Get Payout Instruction details by payout_instruction_id
      operationId: getPayoutInstruction
      parameters:
      - description: payout instruction id
        in: path
        name: payoutInstructionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutInstructionResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payoutInstruction:get
      tags:
      - customer
  /payout_instructions/{payoutInstructionId}/cancel:
    post:
      description: Cancel Payout Instruction by payout_instruction_id
      operationId: cancelPayoutInstruction
      parameters:
      - description: payout instruction id
        in: path
        name: payoutInstructionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutInstructionResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payoutInstruction:cancel
      tags:
      - customer
  /calculate/line_items/{paymentType}:
    get:
      description: Get line items for display
      operationId: getLineItemsForDisplay
      parameters:
      - description: The payment type
        in: path
        name: paymentType
        required: true
        schema:
          enum:
          - MANDATE
          - MANUAL
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLineItemsForDisplayResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - line_items:get
      tags:
      - customer
  /payment_users/{paymentUserId}/payment_accounts:
    get:
      description: Get payment account by user id
      operationId: listPaymentAccounts
      parameters:
      - description: The payment user id
        in: path
        name: paymentUserId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentAccountsResponse'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payment_account:get
      tags:
      - customer
  /payment_accounts:
    post:
      description: create payment account
      operationId: createPaymentAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentAccountRequest'
        description: request body for creating payment account
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAccountDetails'
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payment_account:create
      tags:
      - customer
      x-codegen-request-body-name: createPaymentAccountRequest
  /payment_accounts/{paymentAccountId}:
    delete:
      description: delete payment account
      operationId: deletePaymentAccount
      parameters:
      - description: The payment account id
        in: path
        name: paymentAccountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payment_account:delete
      tags:
      - customer
  /payment_users:
    post:
      description: Create a payment user
      operationId: createPaymentUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentUserRequest'
        description: request body for creating payment user
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUser'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payment_user:create
      tags:
      - customer
      x-codegen-request-body-name: createPaymentUserRequest
  /payment_users/{paymentUserId}:
    get:
      description: Get a payment user
      operationId: getPaymentUser
      parameters:
      - in: path
        name: paymentUserId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUser'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Invalid Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrBodyModelV2'
          description: Internal Server Error
      security:
      - Oauth2:
        - payment_user:get
      tags:
      - customer
components:
  schemas:
    Principal:
      properties:
        subject:
          example: could be clientId/customerAppId/loginIdentityId depends on the
            type of token, see also the explict claims for each of these ids
          type: string
        token:
          example: algorithm.claims.hmac
          type: string
        client_id:
          example: someClientId
          type: string
        customer_app_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        login_identity_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        customization_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        mandate_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        expires_in:
          example: 3600.0
          type: number
        payment_attempt_id:
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          type: string
        product_flow:
          example: PAYMENT_LINK
          type: string
        scopes:
          example:
          - link
          - transaction
          items:
            type: string
          type: array
        link_token_request:
          $ref: '#/components/schemas/LinkTokenRequest'
        get_mandate_auth_link_request:
          $ref: '#/components/schemas/GetMandateAuthLinkRequest'
        currency:
          type: string
        redirect_uri:
          type: string
        payment_link_id:
          type: string
        unique_reference_id:
          type: string
      required:
      - client_id
      - customer_app_id
      - login_identity_id
      - subject
      type: object
    GetAccountResponse:
      example:
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
        account:
          country: HKG
          account_currency: HKD
          account_type:
            subtype: SAVINGS
            type: DEPOSIT
          account_holder_name: John Doe
          account_sub_type: TIME_DEPOSIT
          created_at: 2000-01-23T04:56:07.000+00:00
          account_nickname: Emergency Fund
          is_parent: false
          statement_balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          updated_at: 2000-01-23T04:56:07.000+00:00
          balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          is_excluded: false
          group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          account_name: HKD Savings
          account_number_masked: 123XXXXXX89
          is_closed: false
      properties:
        account:
          $ref: '#/components/schemas/Account'
        login_identity:
          $ref: '#/components/schemas/LoginIdentityShort'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
      type: object
    ListCardsDetailsResponse:
      example:
        card_details:
          card_accounts:
          - account_type:
              subtype: SAVINGS
              type: DEPOSIT
            last_payment_date: 2021-10-27
            total_credit_limit:
              raw: "69.00"
              currency: HKD
              value: 69.0
            payment_due_amount:
              raw: "69.00"
              currency: HKD
              value: 69.0
            minimum_payment_due:
              raw: "69.00"
              currency: HKD
              value: 69.0
            last_payment_amount:
              raw: "69.00"
              currency: HKD
              value: 69.0
            statement_date: 2021-10-27
            rewards_points_balance:
              unit: UNI$
              raw: "69.00"
              value: 69.0
            statement_due_amount:
              raw: "69.00"
              currency: HKD
              value: 69.0
            account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
            statement_payment_due_date: 2021-02-01
            updated_at: 2021-02-01T10:01:02.333Z
            available_credit_limit:
              raw: "69.00"
              currency: HKD
              value: 69.0
            account_name: HKD Visa
            account_number_masked: account_number_masked
            current_balance:
              raw: "69.00"
              currency: HKD
              value: 69.0
            next_payment_due_date: 2021-02-01
          - account_type:
              subtype: SAVINGS
              type: DEPOSIT
            last_payment_date: 2021-10-27
            total_credit_limit:
              raw: "69.00"
              currency: HKD
              value: 69.0
            payment_due_amount:
              raw: "69.00"
              currency: HKD
              value: 69.0
            minimum_payment_due:
              raw: "69.00"
              currency: HKD
              value: 69.0
            last_payment_amount:
              raw: "69.00"
              currency: HKD
              value: 69.0
            statement_date: 2021-10-27
            rewards_points_balance:
              unit: UNI$
              raw: "69.00"
              value: 69.0
            statement_due_amount:
              raw: "69.00"
              currency: HKD
              value: 69.0
            account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
            statement_payment_due_date: 2021-02-01
            updated_at: 2021-02-01T10:01:02.333Z
            available_credit_limit:
              raw: "69.00"
              currency: HKD
              value: 69.0
            account_name: HKD Visa
            account_number_masked: account_number_masked
            current_balance:
              raw: "69.00"
              currency: HKD
              value: 69.0
            next_payment_due_date: 2021-02-01
          card_total:
            rewards_points_balance:
              unit: UNI$
              raw: "69.00"
              value: 69.0
            statement_due_amount:
              raw: "69.00"
              currency: HKD
              value: 69.0
            updated_at: 2021-02-01T10:01:02.333Z
            available_credit_limit:
              raw: "69.00"
              currency: HKD
              value: 69.0
            current_balance:
              raw: "69.00"
              currency: HKD
              value: 69.0
            total_credit_limit:
              raw: "69.00"
              currency: HKD
              value: 69.0
            payment_due_amount:
              raw: "69.00"
              currency: HKD
              value: 69.0
            minimum_payment_due:
              raw: "69.00"
              currency: HKD
              value: 69.0
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
      properties:
        login_identity:
          $ref: '#/components/schemas/LoginIdentityShort'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
        card_details:
          $ref: '#/components/schemas/CardDetails'
      type: object
    GetAccountNumberResponse:
      example:
        account_number:
          number: "1234567890123"
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          raw: 123-4567890-123
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        payment_details:
        - other_info:
            bank_code: bank_code
          bank_shortname: testbank
          format: SWIFT
          bank_address: 99 Stree, Building, City
          bank_country: Country
          bank_fullname: Finverse test bank
          bic: BKCHHKHHXXX
        - other_info:
            bank_code: bank_code
          bank_shortname: testbank
          format: SWIFT
          bank_address: 99 Stree, Building, City
          bank_country: Country
          bank_fullname: Finverse test bank
          bic: BKCHHKHHXXX
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
        account:
          country: HKG
          account_currency: HKD
          account_type:
            subtype: SAVINGS
            type: DEPOSIT
          account_holder_name: John Doe
          account_sub_type: TIME_DEPOSIT
          created_at: 2000-01-23T04:56:07.000+00:00
          account_nickname: Emergency Fund
          is_parent: false
          statement_balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          updated_at: 2000-01-23T04:56:07.000+00:00
          balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          is_excluded: false
          group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          account_name: HKD Savings
          account_number_masked: 123XXXXXX89
          is_closed: false
      properties:
        account_number:
          $ref: '#/components/schemas/AccountNumber'
        account:
          $ref: '#/components/schemas/Account'
        login_identity:
          $ref: '#/components/schemas/LoginIdentityShort'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
        payment_details:
          items:
            $ref: '#/components/schemas/PaymentDetails'
          type: array
      type: object
    GetBalanceHistoryResponse:
      example:
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
        balance_history:
        - date: 2021-10-27
          amount: 69.0
          currency: HKD
        - date: 2021-10-27
          amount: 69.0
          currency: HKD
        source: INSTITUTION
        account:
          country: HKG
          account_currency: HKD
          account_type:
            subtype: SAVINGS
            type: DEPOSIT
          account_holder_name: John Doe
          account_sub_type: TIME_DEPOSIT
          created_at: 2000-01-23T04:56:07.000+00:00
          account_nickname: Emergency Fund
          is_parent: false
          statement_balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          updated_at: 2000-01-23T04:56:07.000+00:00
          balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          is_excluded: false
          group_id: 03504faef9ad3ac048c6a43efa6db7ba1c5239a856536839d87ac949559e7ceb
          account_name: HKD Savings
          account_number_masked: 123XXXXXX89
          is_closed: false
      properties:
        account:
          $ref: '#/components/schemas/Account'
        login_identity:
          $ref: '#/components/schemas/LoginIdentityShort'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
        balance_history:
          items:
            $ref: '#/components/schemas/BalanceHistory'
          type: array
        source:
          enum:
          - INSTITUTION
          - COMPUTED
          type: string
      type: object
    GetIdentityResponse:
      example:
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        identity:
          emails:
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            raw: example123@example.com
            source: INTERNET_BANKING
            email: example123@example.com
            masked_email: exam******@example.com
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            raw: example123@example.com
            source: INTERNET_BANKING
            email: example123@example.com
            masked_email: exam******@example.com
          phone_numbers:
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            mobile_phone: +12345678901
            raw: +123 4567 8901
            masked_phone: +12345****01
            source: INTERNET_BANKING
            other_phone: +12345678901
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            mobile_phone: +12345678901
            raw: +123 4567 8901
            masked_phone: +12345****01
            source: INTERNET_BANKING
            other_phone: +12345678901
          addresses:
          - building_name: Building A
            street_address: 221B Baker Street
            country: United Kingdom
            account_ids:
            - account_ids
            - account_ids
            city: London
            raw: 221B Baker Street, Westminster, London
            floor_number: "2"
            full_address: 221B Baker Street, Westminster, London
            ward: Sheung Wan
            source: INTERNET_BANKING
            street_name: Baker Street
            source_ids:
            - source_ids
            - source_ids
            unit_number: 221B
            province: Westminster
            district: Marleybone
            street_number: 221B
            postal_code: NW1 6XE
          - building_name: Building A
            street_address: 221B Baker Street
            country: United Kingdom
            account_ids:
            - account_ids
            - account_ids
            city: London
            raw: 221B Baker Street, Westminster, London
            floor_number: "2"
            full_address: 221B Baker Street, Westminster, London
            ward: Sheung Wan
            source: INTERNET_BANKING
            street_name: Baker Street
            source_ids:
            - source_ids
            - source_ids
            unit_number: 221B
            province: Westminster
            district: Marleybone
            street_number: 221B
            postal_code: NW1 6XE
          names:
          - source_ids:
            - source_ids
            - source_ids
            full_name: John Maximus Doe
            account_ids:
            - account_ids
            - account_ids
            raw: John Maximus Doe
            last_name: Doe
            other_name: Maximus
            source: INTERNET_BANKING
            first_name: John
          - source_ids:
            - source_ids
            - source_ids
            full_name: John Maximus Doe
            account_ids:
            - account_ids
            - account_ids
            raw: John Maximus Doe
            last_name: Doe
            other_name: Maximus
            source: INTERNET_BANKING
            first_name: John
          date_of_births:
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            date_of_birth: 1999-01-22
            raw: 1999-01-22
            masked_date_of_birth: XXXX-01-22
            source: INTERNET_BANKING
          - source_ids:
            - source_ids
            - source_ids
            account_ids:
            - account_ids
            - account_ids
            date_of_birth: 1999-01-22
            raw: 1999-01-22
            masked_date_of_birth: XXXX-01-22
            source: INTERNET_BANKING
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        login_identity:
          $ref: '#/components/schemas/LoginIdentityShort'
        institution:
          $ref: '#/components/schemas/InstitutionShort'
      type: object
    Identity:
      example:
        emails:
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          raw: example123@example.com
          source: INTERNET_BANKING
          email: example123@example.com
          masked_email: exam******@example.com
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          raw: example123@example.com
          source: INTERNET_BANKING
          email: example123@example.com
          masked_email: exam******@example.com
        phone_numbers:
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          mobile_phone: +12345678901
          raw: +123 4567 8901
          masked_phone: +12345****01
          source: INTERNET_BANKING
          other_phone: +12345678901
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          mobile_phone: +12345678901
          raw: +123 4567 8901
          masked_phone: +12345****01
          source: INTERNET_BANKING
          other_phone: +12345678901
        addresses:
        - building_name: Building A
          street_address: 221B Baker Street
          country: United Kingdom
          account_ids:
          - account_ids
          - account_ids
          city: London
          raw: 221B Baker Street, Westminster, London
          floor_number: "2"
          full_address: 221B Baker Street, Westminster, London
          ward: Sheung Wan
          source: INTERNET_BANKING
          street_name: Baker Street
          source_ids:
          - source_ids
          - source_ids
          unit_number: 221B
          province: Westminster
          district: Marleybone
          street_number: 221B
          postal_code: NW1 6XE
        - building_name: Building A
          street_address: 221B Baker Street
          country: United Kingdom
          account_ids:
          - account_ids
          - account_ids
          city: London
          raw: 221B Baker Street, Westminster, London
          floor_number: "2"
          full_address: 221B Baker Street, Westminster, London
          ward: Sheung Wan
          source: INTERNET_BANKING
          street_name: Baker Street
          source_ids:
          - source_ids
          - source_ids
          unit_number: 221B
          province: Westminster
          district: Marleybone
          street_number: 221B
          postal_code: NW1 6XE
        names:
        - source_ids:
          - source_ids
          - source_ids
          full_name: John Maximus Doe
          account_ids:
          - account_ids
          - account_ids
          raw: John Maximus Doe
          last_name: Doe
          other_name: Maximus
          source: INTERNET_BANKING
          first_name: John
        - source_ids:
          - source_ids
          - source_ids
          full_name: John Maximus Doe
          account_ids:
          - account_ids
          - account_ids
          raw: John Maximus Doe
          last_name: Doe
          other_name: Maximus
          source: INTERNET_BANKING
          first_name: John
        date_of_births:
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          date_of_birth: 1999-01-22
          raw: 1999-01-22
          masked_date_of_birth: XXXX-01-22
          source: INTERNET_BANKING
        - source_ids:
          - source_ids
          - source_ids
          account_ids:
          - account_ids
          - account_ids
          date_of_birth: 1999-01-22
          raw: 1999-01-22
          masked_date_of_birth: XXXX-01-22
          source: INTERNET_BANKING
      properties:
        names:
          items:
            $ref: '#/components/schemas/IdentityName'
          type: array
        addresses:
          items:
            $ref: '#/components/schemas/IdentityAddress'
          type: array
        emails:
          items:
            $ref: '#/components/schemas/IdentityEmail'
          type: array
        phone_numbers:
          items:
            $ref: '#/components/schemas/IdentityPhoneNumber'
          type: array
        date_of_births:
          items:
            $ref: '#/components/schemas/IdentityDateOfBirth'
          type: array
      type: object
    ListAccountsResponse:
      example:
        institution:
          portal_name: Personal Internet Banking
          countries:
          - HKG
          institution_name: Mock Bank
          institution_id: "123"
        login_identity:
          login_identity_id: login_identity_id
          last_session_id: last_session_id
          status: LINKING
        accounts:
        - country: HKG
          account_currency: HKD
          account_type:
            subtype: SAVINGS
            type: DEPOSIT
          account_holder_name: John Doe
          account_sub_type: TIME_DEPOSIT
          created_at: 2000-01-23T04:56:07.000+00:00
          account_nickname: Emergency Fund
          is_parent: false
          statement_balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          account_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          updated_at: 2000-01-23T04:56:07.000+00:00
          balance:
            raw: "69.00"
            currency: HKD
            value: 69.0
          is_excluded: false
[...]
